@charset "UTF-8";
@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url("../fonts/montserrat/Montserrat-SemiBold.ttf"); }

@font-face {
  font-family: 'Montserrat-Bold';
  src: url("../fonts/montserrat/Montserrat-Bold.ttf"); }

@font-face {
  font-family: 'Montserrat-Medium';
  src: url("../fonts/montserrat/Montserrat-Medium.ttf"); }

@font-face {
  font-family: 'Montserrat-Light';
  src: url("../fonts/montserrat/Montserrat-Light.ttf"); }

@font-face {
  font-family: 'Mistuki 1 PERSONALUSE';
  src: url("../fonts/mans-greback/Mistuki1_PERSONAL_USE.ttf"); }

@font-face {
  font-family: 'Mistuki 4 PERSONALUSE';
  src: url("../fonts/mans-greback/Mistuki4_PERSONAL_USE.ttf"); }

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat-Light';
  background-color: black;
  background-image: url("../img/ground.png");
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden; }

.container {
  max-width: 1920px;
  width: 100%;
  margin: auto; }

.logo {
  width: 145px;
  height: 114px;
  background-image: url("../img/logo_b.png");
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center; }

.left-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; }

.left-text {
  margin-top: 150px;
  margin-bottom: 100px;
  padding-left: 145px;
  font-family: 'Montserrat-Light';
  font-size: 17px;
  font-weight: 400;
  line-height: 36px;
  color: #cbb9b9;
  max-width: 680px;
  width: 100%; }

.vertical-text {
  transform: rotate(270deg);
  margin-bottom: 30px;
  font-family: "Montserrat-SemiBold";
  color: white;
  letter-spacing: 3.92px;
  font-size: 14px;
  text-transform: uppercase; }

.head-container {
  position: relative;
  display: flex; }
  .head-container .header {
    min-height: 114px;
    width: 100%;
    display: flex;
    justify-content: space-between; }
  .head-container .menu {
    position: absolute;
    top: 0;
    right: 0;
    background-image: url("../img/header_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1120px;
    min-height: 752px;
    width: calc(100% - 145px); }
    .head-container .menu input, .head-container .menu label {
      display: none; }
    .head-container .menu ul {
      padding-left: 0px;
      width: calc(100% - 145px);
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin: 0;
      min-height: 114px; }
      .head-container .menu ul li {
        display: inline-flex;
        min-width: 90px;
        align-items: center;
        justify-content: center;
        text-align: center;
        text-transform: uppercase;
        min-height: 50px;
        border-bottom: 3px solid transparent; }
        .head-container .menu ul li:hover {
          border-bottom: 3px solid black;
          transition: 0.2s; }
        .head-container .menu ul li a {
          font-family: "Montserrat-SemiBold";
          font-size: 14px;
          font-weight: 400;
          color: #282828;
          letter-spacing: 3.92px;
          text-decoration: none;
          white-space: nowrap; }

.header-static {
  width: 100%;
  position: relative;
  min-height: 670px;
  box-sizing: border-box;
  margin-top: 114px; }
  .header-static img {
    position: absolute;
    background-color: black;
    object-fit: cover;
    width: calc(100% - 140px);
    height: 100%; }
  .header-static .text {
    display: block;
    position: absolute;
    font-family: 'Mistuki 4 PERSONALUSE';
    font-size: 103px;
    font-weight: 400;
    line-height: 100px;
    right: 300px;
    bottom: 200px;
    color: white;
    text-shadow: 0px 0px 5px black; }

.slider {
  width: 100%;
  min-height: 670px;
  position: relative;
  box-sizing: border-box;
  margin-top: 114px; }
  .slider .mask {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 140px);
    height: 100%;
    background-color: #0c0c0c; }
  .slider .slide {
    position: absolute;
    left: 0;
    top: 0;
    width: calc(100% - 140px);
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: opacity 1s; }
    .slider .slide img {
      background-color: black;
      object-fit: cover;
      width: 100%;
      height: 100%; }
    .slider .slide .slide-content {
      max-width: 600px;
      width: 100%;
      position: absolute;
      top: 20%;
      right: 14%; }
      .slider .slide .slide-content h1, .slider .slide .slide-content h2 {
        font-family: 'Mistuki 4 PERSONALUSE';
        font-size: 203px;
        color: #ffffff;
        font-weight: 400;
        letter-spacing: 3.5px;
        margin: 0;
        line-height: 115px; }
      .slider .slide .slide-content h2 {
        font-size: 103px;
        letter-spacing: 0px; }
      .slider .slide .slide-content div {
        margin-top: 30px;
        display: flex;
        justify-content: space-between; }
        .slider .slide .slide-content div label {
          font-family: 'Montserrat-Light';
          font-size: 28px;
          font-weight: 600;
          line-height: 55px;
          color: white; }
        .slider .slide .slide-content div a {
          font-family: "Montserrat-SemiBold";
          color: #d1ad62;
          display: inline-block;
          line-height: 55px;
          font-size: 14px;
          text-decoration: none;
          border-bottom: 3px solid #d1ad62;
          letter-spacing: 3.92px;
          text-transform: uppercase; }
  .slider .showing {
    opacity: 1 !important;
    z-index: 2; }
  .slider .controls {
    display: none !important;
    position: absolute;
    top: 0;
    right: 0;
    width: 140px;
    height: calc(100% - 114px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
    .slider .controls div {
      font-family: "Montserrat-SemiBold";
      color: #282828;
      font-size: 16px;
      font-weight: 400;
      line-height: 102px;
      letter-spacing: 3.32px; }
      .slider .controls div span {
        color: white;
        font-size: 26px;
        letter-spacing: 5px;
        font-weight: 500; }
      .slider .controls div label {
        letter-spacing: 3px; }
    .slider .controls a {
      cursor: pointer; }

@keyframes opacity {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.space {
  min-width: 140px;
  width: 140px; }

.time-line {
  padding-left: 140px;
  padding-right: 140px;
  background-image: url("../img/time-line/vector-smart-object.png");
  background-repeat: no-repeat;
  background-position: bottom left;
  position: relative; }
  .time-line:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 182px;
    width: 1px;
    height: 100%;
    border-left: 18px solid #dec85b;
    box-sizing: border-box; }
  .time-line .time-item {
    z-index: 1;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-bottom: 340px; }
    .time-line .time-item div img {
      max-width: 480px;
      width: 100%; }
    .time-line .time-item .year {
      min-width: 100px;
      width: 100px;
      height: 100px;
      background-image: linear-gradient(-42deg, #f4d47d 0%, #c88139 100%);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: "Montserrat-SemiBold";
      font-size: 26px;
      font-weight: 500;
      line-height: 36px;
      color: #282828; }
    .time-line .time-item .description {
      min-width: 200px;
      max-width: 200px; }
      .time-line .time-item .description span {
        display: inline-block;
        font-family: 'Montserrat-Light';
        border-top: 3px solid #dec85b;
        font-size: 26px;
        font-weight: 500;
        line-height: 46px;
        color: #ffffff;
        letter-spacing: 0.88px;
        padding-top: 65px; }
    .time-line .time-item .content {
      max-width: 610px;
      width: 100%; }
      .time-line .time-item .content h2 {
        font-family: "Mistuki 1 PERSONALUSE";
        font-size: 80px;
        font-weight: 400;
        line-height: 107px;
        margin-top: -25px;
        margin-bottom: 37px;
        color: white; }
      .time-line .time-item .content p {
        color: #cbb9b9;
        font-family: 'Montserrat-Light';
        font-weight: 400;
        font-size: 17px;
        line-height: 36px; }
      .time-line .time-item .content .bottom-content {
        font-family: 'Montserrat-Light';
        font-weight: 500;
        font-size: 26px;
        line-height: 46px;
        letter-spacing: 0.88px;
        color: white; }
      .time-line .time-item .content .separate {
        padding-left: 60px;
        box-sizing: border-box;
        position: relative; }
        .time-line .time-item .content .separate:before {
          content: "";
          display: block;
          position: absolute;
          top: 0px;
          left: 0px;
          width: 3px;
          height: 90%;
          border-left: 3px solid #dec85b; }
        .time-line .time-item .content .separate h4 {
          font-family: 'Montserrat-Light';
          font-size: 26px;
          font-weight: 500;
          line-height: 36px;
          letter-spacing: 0.88px;
          color: white; }
        .time-line .time-item .content .separate h2 {
          font-family: 'Mistuki 4 PERSONALUSE';
          font-size: 80px;
          font-weight: 400;
          line-height: 74px; }

.white-time-item {
  padding-left: 140px;
  padding-right: 140px;
  position: relative;
  background-color: #ffffff;
  padding-top: 120px;
  padding-bottom: 145px;
  background-image: url("../img/time-line/gold-hill-front-view.png");
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: auto 80%;
  display: flex;
  justify-content: space-between; }
  .white-time-item:before {
    content: "";
    position: absolute;
    top: -1px;
    left: 182px;
    width: 1px;
    height: 140px;
    border-left: 18px solid #dec85b;
    box-sizing: border-box; }
  .white-time-item .year {
    position: relative;
    min-width: 100px;
    width: 100px;
    height: 100px;
    background-image: linear-gradient(-42deg, #f4d47d 0%, #c88139 100%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat-SemiBold";
    font-size: 26px;
    font-weight: 500;
    line-height: 36px;
    color: #282828; }
  .white-time-item .description {
    display: flex;
    justify-content: flex-end;
    width: 30%; }
    .white-time-item .description span {
      display: inline-block;
      font-family: 'Montserrat-Light';
      border-top: 3px solid #dec85b;
      font-size: 26px;
      font-weight: 600;
      line-height: 46px;
      color: #282828;
      max-width: 150px;
      letter-spacing: 0.88px;
      padding-top: 65px; }
  .white-time-item .content {
    max-width: 600px;
    width: 100%; }
    .white-time-item .content h2 {
      font-family: "Mistuki 1 PERSONALUSE";
      font-size: 80px;
      font-weight: 400;
      line-height: 84px;
      color: #282828;
      margin-top: -25px; }
    .white-time-item .content div {
      font-family: 'Montserrat-Light';
      font-size: 26px;
      font-weight: 600;
      line-height: 36px;
      letter-spacing: 0.88px;
      padding-left: 60px;
      position: relative;
      max-width: 170px; }
      .white-time-item .content div:before {
        position: absolute;
        content: "";
        top: 5%;
        left: 0;
        width: 1;
        height: 90%;
        border-left: 3px solid #dec85b; }
    .white-time-item .content p {
      color: #756b6b;
      font-family: 'Montserrat-Light';
      font-size: 17px;
      line-height: 36px; }

.darkItem {
  padding-top: 160px;
  padding-bottom: 90px;
  width: 100%;
  justify-content: space-between;
  display: flex;
  box-sizing: border-box; }
  .darkItem .name {
    font-family: 'Montserrat-Light';
    font-weight: 600;
    letter-spacing: 0.88px;
    line-height: 46px;
    font-size: 26px;
    color: #ffffff;
    min-width: 180px;
    width: 180px;
    border-top: 3px solid #dec85b;
    padding-top: 55px;
    margin-top: 28px; }
  .darkItem .content h2 {
    font-family: "Mistuki 1 PERSONALUSE";
    color: white;
    font-size: 80px;
    font-weight: 400;
    line-height: 108px;
    margin-top: 0px;
    margin-bottom: 34px; }
  .darkItem .content p {
    color: #cbb9b9;
    font-family: 'Montserrat-Light';
    line-height: 36px;
    font-weight: 600;
    font-size: 17px;
    display: block;
    max-width: 550px; }
  .darkItem .image {
    position: relative; }
    .darkItem .image img {
      max-width: 670px;
      width: 100%;
      position: relative;
      z-index: 1;
      box-shadow: 0px 35px 130px rgba(0, 0, 0, 0.6); }
    .darkItem .image div {
      max-width: 400px;
      width: 100%;
      height: 530px;
      background-image: url("../img/header_bg.png");
      background-color: black;
      background-size: cover;
      background-position: right center;
      position: absolute;
      top: -40px;
      right: 10%; }
  .darkItem.type2 .content {
    position: relative;
    z-index: 1; }
    .darkItem.type2 .content .as_comment {
      padding-left: 40px;
      position: relative;
      color: #fefefe; }
      .darkItem.type2 .content .as_comment:before {
        content: '‘‘';
        position: absolute;
        top: 0;
        left: 0;
        font-family: "Mistuki 1 PERSONALUSE";
        font-size: 80px;
        line-height: 60px;
        font-weight: 400; }
  .darkItem.type2 .image {
    max-width: 660px;
    width: 100%; }
    .darkItem.type2 .image div {
      max-width: 660px;
      height: 396px;
      top: 40px; }
    .darkItem.type2 .image img {
      max-width: 400px;
      width: 100%; }

.white {
  background-color: white; }

.container-fluid {
  width: 100%; }

.vision {
  background-image: url("../img/vec.png");
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: contain;
  padding-top: 100px;
  padding-bottom: 225px;
  padding-left: 140px;
  padding-right: 140px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start; }
  .vision .text h2 {
    font-family: 'Mistuki 4 PERSONALUSE';
    font-size: 80px;
    line-height: 74px;
    color: #282828;
    font-weight: 400; }
  .vision .text div {
    padding-left: 65px;
    position: relative; }
    .vision .text div:before {
      content: "";
      display: block;
      width: 3px;
      top: 5%;
      height: 90%;
      border-left: 3px solid #dec85b;
      left: 0;
      position: absolute; }
    .vision .text div p {
      color: #282828;
      font-family: 'Montserrat-Light';
      font-weight: 600;
      font-size: 26px;
      line-height: 36px;
      letter-spacing: 0.88px; }
  .vision .images {
    width: 60%;
    display: flex;
    justify-content: space-around; }
    .vision .images img {
      position: relative;
      box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.5); }
    .vision .images img:nth-of-type(3) {
      top: 51px; }
    .vision .images img:nth-of-type(2) {
      top: 125px; }

.whiteItem {
  background-repeat: no-repeat;
  background-position: left top;
  position: relative;
  padding-top: 180px;
  padding-bottom: 180px;
  display: flex;
  justify-content: flex-end; }
  .whiteItem img {
    position: absolute;
    top: 120px;
    left: 18%;
    box-shadow: 0px 0px 90px rgba(2, 2, 2, 0.5); }
  .whiteItem .content {
    max-width: 600px;
    width: 100%;
    padding-right: 100px; }
    .whiteItem .content .title {
      position: relative;
      padding-left: 64px;
      padding-bottom: 50px; }
      .whiteItem .content .title h4 {
        color: #282828;
        font-family: 'Montserrat-Light';
        font-size: 26px;
        font-weight: 600;
        line-height: 36px;
        letter-spacing: 0.88px;
        margin: 0; }
      .whiteItem .content .title h2 {
        font-family: 'Mistuki 4 PERSONALUSE';
        color: #282828;
        line-height: 74px;
        font-weight: 400;
        font-size: 80px;
        margin: 10px 0px; }
      .whiteItem .content .title:before {
        content: '';
        display: block;
        width: 5px;
        height: 90px;
        border-left: 3px solid #dec85b;
        position: absolute;
        top: 10px;
        left: 0; }
    .whiteItem .content .text {
      font-family: 'Montserrat-Light';
      color: #756b6b;
      line-height: 36px;
      font-weight: 600;
      font-size: 17px;
      max-width: 550px; }

.body-gradient {
  display: flex;
  flex-direction: column; }

.caption {
  font-family: 'Mistuki 4 PERSONALUSE';
  font-size: 80px;
  font-weight: 400;
  line-height: 74px;
  color: #ffffff;
  text-align: center; }

.items-container {
  padding-top: 120px;
  padding-bottom: 150px; }

.items-collection {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 95%;
  margin: auto; }
  .items-collection .item {
    position: relative;
    margin: 0px 27px; }
    .items-collection .item img {
      height: 100%;
      object-fit: cover; }
    .items-collection .item .drops {
      position: absolute;
      bottom: -60px;
      left: 50px;
      min-height: 112px;
      width: 100%;
      background-image: url("../img/item_bg1.png");
      background-size: cover;
      font-family: 'Montserrat-Light';
      font-size: 26px;
      font-weight: 600;
      display: flex;
      flex-direction: column;
      align-items: left;
      justify-content: flex-start;
      box-sizing: border-box;
      transition: 0.2s;
      padding-top: 40px;
      padding-bottom: 10px; }
      .items-collection .item .drops a {
        color: #282828;
        text-decoration: none;
        padding-left: 58px;
        padding-bottom: 20px;
        text-transform: capitalize; }
      .items-collection .item .drops .text {
        height: 0;
        overflow: hidden;
        transition: 0.2s;
        font-size: 16px;
        line-height: 29px;
        position: relative;
        padding-left: 100px;
        width: 65%; }
        .items-collection .item .drops .text:before {
          content: "";
          position: absolute;
          width: 2px;
          border-left: 3px solid #282828;
          height: 60%;
          top: 15%;
          left: 60px; }
      .items-collection .item .drops:hover {
        padding-bottom: 30px;
        bottom: -152px; }
        .items-collection .item .drops:hover .text {
          height: 100px; }
  .items-collection .item:nth-child(even) .drops {
    background-image: url("../img/item_bg2.png");
    background-size: cover; }

.milestones {
  padding-top: 100px; }
  .milestones h2 {
    font-family: 'Mistuki 4 PERSONALUSE';
    font-size: 80px;
    font-weight: 400;
    line-height: 74px;
    color: #ffffff;
    margin-bottom: 0px; }
  .milestones .hill {
    width: 100%;
    background-image: url("../img/hill/main_luxury.png");
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative; }
    .milestones .hill .bloker {
      width: 100vw;
      height: 730px; }
    .milestones .hill .st0 {
      fill: none;
      stroke: #CDB956;
      stroke-width: 2;
      stroke-miterlimit: 10;
      stroke-dasharray: 1750;
      stroke-dashoffset: 0; }
    .milestones .hill .hill-mask {
      width: 100%;
      position: absolute; }
    .milestones .hill .hill-captions {
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      padding-left: 0; }
      .milestones .hill .hill-captions li {
        list-style: none; }
      .milestones .hill .hill-captions .points {
        position: absolute; }
        .milestones .hill .hill-captions .points input {
          margin: 0;
          position: relative;
          opacity: 0; }
        .milestones .hill .hill-captions .points .radio-mask {
          content: '';
          display: block;
          background-color: #c88139;
          height: 14px;
          width: 14px;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 11;
          border-radius: 50%;
          box-sizing: border-box; }
        .milestones .hill .hill-captions .points .date {
          display: block;
          position: absolute;
          bottom: 45px;
          left: -44px;
          font-family: 'Montserrat-Light';
          color: white;
          font-size: 26px;
          font-weight: 500;
          line-height: 36px;
          white-space: nowrap; }
        .milestones .hill .hill-captions .points div {
          position: absolute;
          bottom: 123px;
          left: -10px;
          color: white;
          font-family: 'Montserrat-Light';
          font-weight: 400;
          font-size: 17px;
          line-height: 36px;
          width: 310px;
          display: none; }
          .milestones .hill .hill-captions .points div:before {
            content: "";
            position: absolute;
            left: -34px;
            top: 10%;
            border-left: 3px solid #dec85b;
            width: 3px;
            height: 80%; }
      .milestones .hill .hill-captions #point1 {
        left: 10%;
        bottom: 14%; }
        .milestones .hill .hill-captions #point1 .radio-mask {
          left: -9px;
          top: 4px; }
      .milestones .hill .hill-captions #point2 {
        left: 24%;
        bottom: 24%; }
        .milestones .hill .hill-captions #point2 .radio-mask {
          left: 2px;
          top: 2px; }
      .milestones .hill .hill-captions #point3 {
        left: 43%;
        bottom: 56%; }
        .milestones .hill .hill-captions #point3 .radio-mask {
          left: 0px;
          top: 0px; }
      .milestones .hill .hill-captions #point4 {
        left: 73%;
        bottom: 81%; }
      .milestones .hill .hill-captions #point5 {
        left: 83%;
        bottom: 61%; }
        .milestones .hill .hill-captions #point5 .radio-mask {
          top: -3px;
          left: -1px; }
      .milestones .hill .hill-captions input[type=radio]:hover ~ label.radio-mask {
        animation: pulse 2s infinite; }
      .milestones .hill .hill-captions input[type=radio]:checked ~ label.radio-mask {
        animation: pulse 2s infinite; }
      .milestones .hill .hill-captions input[type=radio]:hover ~ div {
        display: block;
        animation: fadeInDown 1s forwards; }
      .milestones .hill .hill-captions input[type=radio]:checked ~ div {
        display: block;
        animation: fadeInDown 1s forwards; }
  .milestones.type2 .hill {
    background-image: url(../img/ab.png);
    background-repeat: no-repeat;
    background-size: 100%; }
    .milestones.type2 .hill .hill-captions {
      height: calc(100% - 330px); }
    .milestones.type2 .hill svg {
      margin-top: 2px; }
    .milestones.type2 .hill .bloker {
      height: 1070px; }
      .milestones.type2 .hill .bloker .channel {
        display: none !important;
        position: absolute;
        bottom: 10%;
        left: 300px;
        display: flex; }
        .milestones.type2 .hill .bloker .channel > div {
          max-width: 400px;
          font-family: 'Montserrat-Light';
          color: white;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          margin-right: 80px; }
          .milestones.type2 .hill .bloker .channel > div h4 {
            margin: 0;
            font-family: 'Montserrat-Light';
            font-size: 26px;
            font-weight: 600;
            line-height: 36px;
            color: #ffffff;
            margin-bottom: 50px; }
          .milestones.type2 .hill .bloker .channel > div > p {
            font-style: italic;
            line-height: 36px;
            font-size: 17px;
            padding-left: 40px;
            position: relative;
            margin: 0;
            max-width: 250px; }
            .milestones.type2 .hill .bloker .channel > div > p:before {
              content: '‘‘';
              position: absolute;
              top: 4px;
              left: -5px;
              font-family: "Mistuki 1 PERSONALUSE";
              font-size: 80px;
              font-weight: 100; }
          .milestones.type2 .hill .bloker .channel > div div {
            padding-left: 34px;
            font-size: 17px;
            line-height: 40px;
            position: relative; }
            .milestones.type2 .hill .bloker .channel > div div h4 {
              margin-bottom: 0px; }
            .milestones.type2 .hill .bloker .channel > div div p {
              margin: 0; }
            .milestones.type2 .hill .bloker .channel > div div:before {
              content: "";
              position: absolute;
              top: 5%;
              left: 0;
              height: 90%;
              border-left: 3px solid #dec85b; }

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4); }
  70% {
    -webkit-box-shadow: 0 0 0 20px rgba(204, 169, 44, 0); }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0); } }

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4); }
  70% {
    -moz-box-shadow: 0 0 0 20px rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 20px rgba(204, 169, 44, 0); }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0); } }

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-30px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.journey {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  position: relative; }
  .journey .text {
    position: absolute;
    top: 150px;
    left: 150px;
    font-family: 'Montserrat-Light';
    font-size: 17px;
    line-height: 36px;
    color: #756b6b;
    max-width: 450px;
    width: 100%; }
  .journey .content {
    max-width: 620px;
    width: 100%;
    margin-top: 190px;
    margin-bottom: 170px;
    height: 100%;
    background-image: url("../img/j3_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; }
    .journey .content .line {
      border: 1px solid #dec85b;
      z-index: 10;
      border-radius: 2px; }
    .journey .content img {
      position: relative; }
    .journey .content img:nth-of-type(1) {
      max-width: 450px;
      top: -87px;
      right: 26px; }
    .journey .content img:nth-of-type(2) {
      max-width: 586px;
      right: -137px;
      top: 27px; }
    .journey .content img:nth-of-type(3) {
      max-width: 586px;
      bottom: -140px;
      left: -70px; }
    .journey .content .points {
      position: absolute;
      z-index: 10;
      padding-left: 0; }
      .journey .content .points li {
        list-style: none; }
        .journey .content .points li input {
          width: 0;
          height: 0; }
        .journey .content .points li label {
          display: block;
          background-color: rgba(255, 255, 255, 0.5);
          height: 20px;
          width: 20px;
          position: absolute;
          z-index: 11;
          border-radius: 50%;
          box-sizing: border-box;
          animation: pulse 2s infinite; }
        .journey .content .points li label:nth-of-type(2) {
          top: 138px;
          left: 80px; }
        .journey .content .points li label:nth-of-type(3) {
          top: 280px;
          left: -10px; }
  .journey .infos {
    position: absolute;
    right: 200px;
    top: 150px;
    list-style: none;
    width: 300px; }
    .journey .infos li {
      position: absolute;
      left: 0; }
    .journey .infos .info {
      position: relative;
      display: none;
      max-width: 350px;
      width: 100%;
      margin-bottom: 50px; }
      .journey .infos .info h4 {
        font-family: 'Montserrat-Light';
        font-weight: 600;
        font-size: 26px;
        line-height: 36px;
        color: #ffffff;
        margin: 0;
        margin-bottom: 20px; }
      .journey .infos .info div {
        font-family: 'Montserrat-Light';
        font-weight: 400;
        font-size: 17px;
        line-height: 36px;
        color: #ffffff;
        padding-left: 35px;
        position: relative; }
        .journey .infos .info div:before {
          content: "";
          position: absolute;
          left: 0;
          top: 5%;
          height: 90%;
          width: 1px;
          border-left: 3px solid #dec85b; }
  .journey li:nth-of-type(1) {
    top: 0px; }
  .journey li:nth-of-type(2) {
    top: 250px; }
  .journey li:nth-of-type(3) {
    top: 500px; }

.white-room {
  background-color: white;
  background-image: url("../img/white_bg.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: contain;
  padding-top: 100px;
  padding-bottom: 110px;
  padding-left: 170px;
  padding-right: 170px;
  display: flex;
  justify-content: space-between; }
  .white-room .name {
    max-width: 150px;
    padding-top: 50px;
    font-family: 'Montserrat-Light';
    font-weight: 600;
    font-size: 26px;
    line-height: 36px;
    letter-spacing: 0.88px;
    color: #282828;
    border-top: 3px solid #dec85b; }
  .white-room .content {
    max-width: 550px;
    width: 100%; }
    .white-room .content h2 {
      margin-top: 0px;
      margin-bottom: 40px;
      font-family: 'Mistuki 4 PERSONALUSE';
      font-size: 80px;
      line-height: 74px;
      color: #282828;
      font-weight: 500; }
    .white-room .content p {
      font-family: 'Montserrat-Light';
      font-size: 17px;
      line-height: 36px;
      color: #756b6b; }
  .white-room .images img {
    padding-left: 20px;
    max-width: 321px; }

.transparent-room {
  padding-bottom: 100px;
  padding-top: 100px;
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: space-between; }
  .transparent-room .name {
    padding-top: 50px;
    font-family: 'Montserrat-Light';
    font-weight: 600;
    font-size: 26px;
    line-height: 36px;
    letter-spacing: 0.88px;
    color: #fff;
    border-top: 3px solid #dec85b;
    max-width: 250px; }
  .transparent-room .content {
    max-width: 550px; }
    .transparent-room .content h2 {
      margin-top: 0px;
      margin-bottom: 40px;
      font-family: 'Mistuki 4 PERSONALUSE';
      font-size: 80px;
      line-height: 74px;
      color: #ffffff;
      font-weight: 500; }
    .transparent-room .content p {
      font-family: 'Montserrat-Light';
      font-size: 17px;
      line-height: 36px;
      color: #ffffff; }
  .transparent-room .toch {
    display: flex;
    align-items: flex-end; }
    .transparent-room .toch a {
      text-decoration: none;
      text-transform: uppercase;
      color: #d1ad62;
      display: block;
      border-bottom: 3px solid #d1ad62;
      letter-spacing: 3.92px;
      font-weight: bold;
      font-size: 14px;
      line-height: 65px; }

.grey {
  background-color: #252525; }

.footer > div {
  width: 100%;
  min-height: 222px;
  display: flex;
  align-items: center;
  justify-content: space-around; }

.footer .navigation {
  width: 100%;
  max-width: 900px; }
  .footer .navigation ul {
    display: flex;
    padding-left: 0px;
    align-items: center;
    justify-content: space-between;
    width: 100%; }
    .footer .navigation ul li {
      list-style: none;
      padding-left: 10px;
      padding-right: 10px;
      border-bottom: 2px solid transparent; }
      .footer .navigation ul li a {
        color: #ffffff;
        font-family: "Montserrat-SemiBold";
        line-height: 100px;
        font-weight: 400;
        font-size: 14px;
        letter-spacing: 3.92px;
        text-decoration: none;
        text-transform: uppercase; }
      .footer .navigation ul li:hover {
        transition: 0.2s;
        border-bottom: 2px solid white; }

.footer .logo-zone span {
  display: block;
  font-family: 'Montserrat-Light';
  font-weight: 500;
  letter-spacing: 0.25px;
  font-size: 10px;
  opacity: 0.2;
  color: #8b8b8b;
  padding-top: 40px; }

.footer-links {
  padding-left: 135px;
  padding-right: 135px;
  box-sizing: border-box; }
  .footer-links div {
    min-height: 140px;
    width: 100%;
    border-bottom: 1px solid #363636;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .footer-links div a {
      font-family: "Montserrat-SemiBold";
      font-size: 14px;
      line-height: 55px;
      display: inline-block;
      color: #d1ad62;
      letter-spacing: 3.92px;
      text-decoration: none;
      text-transform: uppercase;
      border-bottom: 3px solid #d1ad62; }

@media (max-width: 1920px) {
  .milestones .hill .bloker, .milestones.type2 .hill .hill-captions {
    height: 37.5vw; }
  .milestones.type2 .hill .bloker {
    height: 56vw; } }

@media (max-width: 1800px) {
  .head-container .space {
    width: 20px;
    min-width: 20px; }
  .whiteItem img {
    left: 9%;
    top: 160px;
    width: 500px; }
  .items-collection .item img {
    width: 380px; }
  .milestones h2 {
    padding-left: 5%; }
  .time-line, .white-time-item {
    padding-left: 30px;
    padding-right: 30px; }
    .time-line:before, .white-time-item:before {
      left: 69px; }
    .time-line .description, .white-time-item .description {
      width: 45%; }
  .milestones.type2 .hill .bloker .channel {
    left: 10%; }
  .white-room {
    padding-right: 5%;
    padding-left: 5%; }
  .transparent-room {
    width: 90%; } }

@media (max-width: 1500px) {
  .darkItem {
    flex-direction: column; }
    .darkItem .image {
      position: absolute;
      right: 5%;
      top: 205px; }
    .darkItem .name {
      width: 320px;
      width: -moz-max-content;
      white-space: nowrap; }
  .whiteItem {
    justify-content: space-around;
    padding-bottom: 80px;
    padding-top: 80px; }
    .whiteItem img {
      position: relative;
      top: 0;
      left: 0; }
    .whiteItem .space {
      display: none; }
  .items-collection {
    flex-direction: column;
    align-items: center; }
    .items-collection .item {
      margin-bottom: 80px; }
  .items-container {
    padding-top: 70px;
    padding-bottom: 0px; }
  .time-line .time-item {
    flex-direction: column;
    padding-left: 170px;
    padding-bottom: 100px; }
    .time-line .time-item .year {
      position: absolute;
      left: 0; }
    .time-line .time-item .description span {
      padding-top: 20px;
      padding-bottom: 20px; }
    .time-line .time-item .content {
      max-width: 95%;
      margin-bottom: 20px; }
  .vision {
    padding-left: 5%;
    padding-right: 5%; }
    .vision .images {
      align-items: baseline; }
      .vision .images img {
        width: 30%; }
    .vision .text h2 {
      font-size: 5vw;
      line-height: 5vw; }
    .vision .text div p {
      font-size: 1.7vw;
      line-height: 2vw; }
  .milestones.type2 .hill .bloker .channel > div {
    max-width: 30%;
    margin-right: 5vw; }
    .milestones.type2 .hill .bloker .channel > div h4 {
      font-size: 1.8vw;
      line-height: 2vw;
      margin-bottom: 10px; }
    .milestones.type2 .hill .bloker .channel > div div {
      font-size: 1.2vw;
      line-height: 1.8vw; }
    .milestones.type2 .hill .bloker .channel > div > p {
      font-size: 1.2vw;
      line-height: 1.8vw; }
  .white-room {
    flex-direction: column; }
    .white-room .name {
      max-width: 260px; }
    .white-room .content {
      max-width: 100%;
      margin-bottom: 20px; }
    .white-room .images {
      display: flex;
      justify-content: space-around; }
  .white-time-item {
    background-size: auto 70%; } }

@media (max-width: 1370px) {
  .head-container .space {
    width: 40px;
    min-width: 40px; }
  .darkItem .image {
    position: relative;
    top: 20px;
    right: auto;
    display: flex;
    justify-content: center;
    align-items: center; }
    .darkItem .image div {
      display: none; }
  .darkItem .content p {
    max-width: 100%; }
  .white-time-item {
    background-size: auto 50%; }
    .white-time-item .description {
      width: 30%; } }

@media (max-width: 1200px) {
  .head-container .menu ul {
    width: 100%; }
  .whiteItem {
    flex-direction: column-reverse; }
    .whiteItem .content {
      padding-right: 0;
      padding-left: 10%;
      max-width: 100%;
      box-sizing: border-box; }
      .whiteItem .content .text {
        box-sizing: content-box;
        width: 100%;
        max-width: calc(90% - 140px); }
    .whiteItem img {
      padding-top: 20px;
      margin: auto; }
  .footer > div {
    width: 95%;
    margin: auto; }
  .footer .navigation ul {
    display: block; }
    .footer .navigation ul li {
      display: inline-block; } }

@media (max-width: 1000px) {
  .slider .slide .slide-content {
    right: auto;
    left: 40px; }
    .slider .slide .slide-content > div {
      flex-direction: column;
      align-items: baseline; }
    .slider .slide .slide-content h1 {
      font-size: 100px; }
    .slider .slide .slide-content h2 {
      font-size: 50px; }
  .head-container {
    flex-direction: column;
    width: 100%; }
    .head-container .left-col {
      flex-direction: row;
      z-index: 1; }
    .head-container .menu ul {
      display: none;
      position: fixed;
      top: 0px;
      left: 0px;
      flex-direction: column;
      z-index: 100;
      background-color: rgba(0, 0, 0, 0.4); }
      .head-container .menu ul li:hover {
        border-bottom: 3px solid white; }
      .head-container .menu ul li a {
        color: white; }
    .head-container .slider, .head-container .header-static {
      margin-top: 0px; }
    .head-container .vertical-text {
      opacity: 0; }
    .head-container .menu-sw {
      position: absolute;
      right: 45px;
      top: 35px;
      min-height: 140px; }
      .head-container .menu-sw label {
        position: relative;
        z-index: 101;
        display: block; }
    .head-container label {
      position: relative;
      z-index: 1; }
  .darkItem {
    width: 95%;
    margin: auto; }
  .white-time-item {
    flex-direction: column;
    padding-left: 160px;
    padding-bottom: 250px;
    background-size: 50%; }
    .white-time-item .year {
      position: absolute;
      left: 30px; }
    .white-time-item .description {
      display: block;
      width: 100%; }
      .white-time-item .description span {
        padding-top: 20px;
        padding-bottom: 30px;
        max-width: 100%; }
    .white-time-item .content {
      max-width: 95%; }
      .white-time-item .content h2 {
        margin-top: 0px;
        margin-bottom: 20px; }
  .vision {
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px; }
    .vision .images {
      width: 100%;
      margin-bottom: 150px; } }

@media (max-width: 1000px) {
  .whiteItem img {
    width: 70%; }
  .slider .slide {
    width: 100%; }
  .slider .controls {
    z-index: 100;
    width: 75px; }
  .head-container .darkItem {
    margin: 0;
    width: 100%; }
  .sm {
    flex-direction: row; }
  .whiteItem .content .title {
    padding-left: 20px; }
  .header-static img {
    width: 100%; }
  .header-static .text {
    right: 20px; }
  .left-text {
    padding-left: 5%;
    width: 95%;
    box-sizing: border-box;
    max-width: 100%; }
  .transparent-room {
    flex-direction: column; }
    .transparent-room .name {
      max-width: 450px; }
    .transparent-room .content {
      max-width: 100%; } }

@media (max-width: 600px) {
  .sm .darkItem {
    padding-top: 80px; }
    .sm .darkItem .name {
      padding-top: 20px;
      padding-bottom: 20px;
      font-size: 6vmin; }
  .whiteItem .content {
    padding-left: 5%; }
    .whiteItem .content .title {
      padding-left: 20px; }
      .whiteItem .content .title h4 {
        font-size: 4vw; }
      .whiteItem .content .title h2 {
        font-size: 12vw; }
    .whiteItem .content .text {
      max-width: 95%;
      width: 95%; }
  .items-collection .item img {
    display: block;
    padding-bottom: 10px;
    margin: auto;
    width: 80%; }
  .items-collection .item .drops {
    position: initial; }
    .items-collection .item .drops a {
      padding-left: 20px; }
    .items-collection .item .drops .text {
      padding-left: 40px;
      font-size: 3vw;
      line-height: 9vw;
      width: 80%; }
      .items-collection .item .drops .text:before {
        left: 20px; }
  .milestones {
    padding-top: 0; }
    .milestones h2 {
      margin-bottom: 160px; }
  .milestones .hill .hill-captions .points .date {
    font-size: 4vw; }
  .milestones .hill .hill-captions .points div {
    text-shadow: 0px 0px 8px black; }
  .milestones .hill .hill-captions .points .date {
    bottom: 25px;
    left: -8vw; }
  .milestones .hill #point5 div, .milestones .hill #point4 div {
    left: auto;
    right: -65px;
    bottom: 100px; }
  .footer .navigation ul li a {
    line-height: 30px;
    font-size: 2vw; }
  .header-static .text {
    font-size: 20vw; }
  .time-line .time-item {
    padding-left: 120px; }
    .time-line .time-item .content .separate {
      padding-left: 0px; }
      .time-line .time-item .content .separate:before {
        display: none; }
      .time-line .time-item .content .separate h4 {
        font-size: 3vw;
        line-height: 3.5vw; }
    .time-line .time-item .content h2, .time-line .time-item .content .separate h2 {
      font-size: 8vw;
      line-height: 9vw; }
  .white-time-item .description {
    font-size: 4vw;
    line-height: 4.5vw; }
  .white-time-item .content h2 {
    font-size: 9vw;
    line-height: 9.5vw; }
  .footer-links {
    padding-left: 5%;
    padding-right: 5%; }
  .white-room .images {
    flex-direction: column;
    align-items: center; }
    .white-room .images img {
      margin-bottom: 20px; } }

input#menuSwitch[type=checkbox]:checked ~ ul {
  display: flex !important; }

.animated {
  opacity: 0; }

svg.animated {
  opacity: 1; }

.multi-step-right.show {
  -moz-animation: right_animation 400ms forwards;
  -webkit-animation: right_animation 400ms forwards;
  animation: right_animation 400ms forwards;
  -moz-animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s; }

.anim-right.show {
  -moz-animation: anim-right_ 300ms forwards;
  -webkit-animation: anim-right_ 300ms forwards;
  animation: anim-right_ 300ms forwards;
  -moz-animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s; }

.fadeIn.show {
  -moz-animation: fadeIn 600ms forwards;
  -webkit-animation: fadeIn 600ms forwards;
  animation: fadeIn 600ms forwards;
  -moz-animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s; }

.fadeInLeft.show {
  -moz-animation: fadeInLeft 600ms forwards;
  -webkit-animation: fadeInLeft 600ms forwards;
  animation: fadeInLeft 600ms forwards;
  -moz-animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s; }

.fadeInUp.show {
  -moz-animation: fadeInUp 600ms forwards;
  -webkit-animation: fadeInUp 600ms forwards;
  animation: fadeInUp 600ms forwards;
  -moz-animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s; }

.fadeInDown.show {
  -moz-animation: fadeInDown 1000ms forwards;
  -webkit-animation: fadeInDown 1000ms forwards;
  animation: fadeInDown 1000ms forwards;
  -moz-animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s; }

.show.hill-mask .st0 {
  opacity: 1;
  animation: dash 2.5s linear forwards;
  -moz-animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s; }

@keyframes dash {
  from {
    opacity: 1;
    stroke-dashoffset: 1750; }
  to {
    opacity: 1;
    stroke-dashoffset: 0; } }

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0%, 20%, 0); }
  100% {
    opacity: 1;
    transform: translate3d(0%, 0px, 0); } }

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0%, -100px, 0); }
  100% {
    opacity: 1;
    transform: translate3d(0%, 0px, 0); } }

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-50%, 0px, 0); }
  100% {
    opacity: 1;
    transform: translate3d(0%, 0px, 0); } }

@keyframes right_animation {
  0% {
    opacity: 0;
    transform: translate3d(0px, -110px, 0); }
  75% {
    opacity: 0.8; }
  100% {
    opacity: 1;
    transform: translate3d(0px, 0px, 0); } }

@keyframes anim-right_ {
  0% {
    opacity: 0;
    transform: translate3d(50%, 0px, 0); }
  100% {
    opacity: 1;
    transform: translate3d(0%, 0px, 0); } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
