@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url("/fonts/montserrat/Montserrat-SemiBold.ttf"); }

@font-face {
  font-family: 'Montserrat-Bold';
  src: url("/fonts/montserrat/Montserrat-Bold.ttf"); }

@font-face {
  font-family: 'Montserrat-Medium';
  src: url("/fonts/montserrat/Montserrat-Medium.ttf"); }

@font-face {
  font-family: 'Montserrat-Light';
  src: url("/fonts/montserrat/Montserrat-Light.ttf"); }

@font-face {
  font-family: 'Mistuki 1 PERSONALUSE';
  src: url("/fonts/mans-greback/Mistuki1_PERSONAL_USE.ttf"); }

@font-face {
  font-family: 'Mistuki 4 PERSONALUSE';
  src: url("/fonts/mans-greback/Mistuki4_PERSONAL_USE.ttf"); }

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat-Light';
  background: linear-gradient(to bottom right, black, #39393a); }

.container {
  max-width: 1920px;
  width: 100%;
  margin: auto; }

.logo {
  width: 145px;
  height: 114px;
  background-image: url("../img/logo_b.png");
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center; }

.left-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; }

.vertical-text {
  transform: rotate(270deg);
  margin-bottom: 30px;
  font-family: "Montserrat-SemiBold";
  color: white;
  letter-spacing: 3.92px;
  font-size: 14px;
  text-transform: uppercase; }

.head-container {
  position: relative;
  display: flex; }
  .head-container .header {
    min-height: 114px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-image: url("/img/header_bg.png"); }
  .head-container .menu {
    position: absolute;
    top: 0;
    right: 0;
    background-image: url("/img/header_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1120px;
    min-height: 752px;
    width: calc(100% - 145px); }
    .head-container .menu input, .head-container .menu label {
      display: none; }
    .head-container .menu ul {
      padding-left: 0px;
      width: calc(100% - 145px);
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin: 0;
      min-height: 114px; }
      .head-container .menu ul li {
        display: inline-flex;
        min-width: 90px;
        align-items: center;
        justify-content: center;
        text-align: center;
        text-transform: uppercase;
        min-height: 50px;
        border-bottom: 3px solid transparent; }
        .head-container .menu ul li:hover {
          border-bottom: 3px solid black;
          transition: 0.2s; }
        .head-container .menu ul li a {
          font-family: "Montserrat-SemiBold";
          font-size: 14px;
          font-weight: 400;
          color: #282828;
          letter-spacing: 3.92px;
          text-decoration: none;
          white-space: nowrap; }

.slider {
  width: 100%;
  min-height: 763px;
  position: relative;
  box-sizing: border-box;
  margin-top: 114px; }
  .slider .mask {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 140px);
    height: 100%;
    background-color: #0c0c0c; }
  .slider .slide {
    position: absolute;
    left: 0;
    top: 0;
    width: calc(100% - 140px);
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: opacity 1s; }
    .slider .slide img {
      background-color: black;
      object-fit: cover;
      width: 100%;
      height: 100%; }
    .slider .slide .slide-content {
      max-width: 600px;
      width: 100%;
      position: absolute;
      top: 20%;
      right: 14%; }
      .slider .slide .slide-content h1, .slider .slide .slide-content h2 {
        font-family: 'Mistuki 4 PERSONALUSE';
        font-size: 203px;
        color: #ffffff;
        font-weight: 400;
        letter-spacing: 3.5px;
        margin: 0;
        line-height: 115px; }
      .slider .slide .slide-content h2 {
        font-size: 103px;
        letter-spacing: 0px; }
      .slider .slide .slide-content div {
        margin-top: 30px;
        display: flex;
        justify-content: space-between; }
        .slider .slide .slide-content div label {
          font-family: 'Montserrat-Light';
          font-size: 26px;
          font-weight: 600;
          line-height: 55px;
          color: white; }
        .slider .slide .slide-content div a {
          font-family: "Montserrat-SemiBold";
          color: #d1ad62;
          display: inline-block;
          line-height: 55px;
          font-size: 14px;
          text-decoration: none;
          border-bottom: 3px solid #d1ad62;
          letter-spacing: 3.92px;
          text-transform: uppercase; }
  .slider .showing {
    opacity: 1 !important;
    z-index: 2; }
  .slider .controls {
    position: absolute;
    top: 0;
    right: 0;
    width: 140px;
    height: calc(100% - 114px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
    .slider .controls div {
      font-family: "Montserrat-SemiBold";
      color: #282828;
      font-size: 16px;
      font-weight: 400;
      line-height: 102px;
      letter-spacing: 3.32px; }
      .slider .controls div span {
        color: white;
        font-size: 26px;
        letter-spacing: 5px;
        font-weight: 500; }
      .slider .controls div label {
        letter-spacing: 3px; }
    .slider .controls a {
      cursor: pointer; }

@keyframes opacity {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.space {
  min-width: 140px;
  width: 140px; }

.darkItem {
  padding-top: 160px;
  padding-bottom: 90px;
  width: 100%;
  justify-content: space-between;
  display: flex;
  box-sizing: border-box; }
  .darkItem .name {
    font-family: 'Montserrat-Light';
    font-weight: 500;
    letter-spacing: 0.88px;
    line-height: 46px;
    font-size: 26px;
    color: #ffffff;
    min-width: 180px;
    width: 180px;
    border-top: 3px solid #dec85b;
    padding-top: 55px;
    margin-top: 28px; }
  .darkItem .content h2 {
    font-family: "Mistuki 1 PERSONALUSE";
    color: white;
    font-size: 80px;
    font-weight: 400;
    line-height: 108px;
    margin-top: 0px;
    margin-bottom: 34px; }
  .darkItem .content p {
    color: #cbb9b9;
    font-family: 'Montserrat-Light';
    line-height: 36px;
    font-weight: 400;
    font-size: 17px;
    display: block;
    max-width: 550px; }
  .darkItem .image {
    position: relative; }
    .darkItem .image img {
      max-width: 670px;
      width: 100%;
      position: relative;
      z-index: 1; }
    .darkItem .image div {
      max-width: 400px;
      width: 100%;
      height: 530px;
      background-image: url("../img/header_bg.png");
      background-color: black;
      background-size: cover;
      background-position: right center;
      position: absolute;
      top: -40px;
      right: 10%; }

.white {
  background-color: white; }

.container-fluid {
  width: 100%; }

.whiteItem {
  background-image: url("../img/goldhill5-01-------2.png");
  background-repeat: no-repeat;
  background-position: left top;
  position: relative;
  padding-top: 180px;
  padding-bottom: 180px;
  display: flex;
  justify-content: flex-end; }
  .whiteItem img {
    position: absolute;
    top: 120px;
    left: 18%; }
  .whiteItem .content {
    max-width: 600px;
    width: 100%;
    padding-right: 100px; }
    .whiteItem .content .title {
      position: relative;
      padding-left: 64px;
      padding-bottom: 50px; }
      .whiteItem .content .title h4 {
        color: #282828;
        font-family: 'Montserrat-Light';
        font-size: 26px;
        font-weight: 500;
        line-height: 36px;
        letter-spacing: 0.88px;
        margin: 0; }
      .whiteItem .content .title h2 {
        font-family: 'Mistuki 4 PERSONALUSE';
        color: #282828;
        line-height: 74px;
        font-weight: 400;
        font-size: 80px;
        margin: 10px 0px; }
      .whiteItem .content .title:before {
        content: '';
        display: block;
        width: 5px;
        height: 90px;
        border-left: 3px solid #dec85b;
        position: absolute;
        top: 10px;
        left: 0; }
    .whiteItem .content .text {
      font-family: 'Montserrat-Light';
      color: #756b6b;
      line-height: 36px;
      font-weight: 400;
      font-size: 17px;
      max-width: 550px; }

.body-gradient {
  background: linear-gradient(to bottom right, #0c0c0c, #3c3738);
  display: flex;
  flex-direction: column; }

.caption {
  font-family: 'Mistuki 4 PERSONALUSE';
  font-size: 80px;
  font-weight: 400;
  line-height: 74px;
  color: #ffffff;
  text-align: center; }

.items-container {
  padding-top: 120px;
  padding-bottom: 150px; }

.items-collection {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 95%;
  margin: auto; }
  .items-collection .item {
    position: relative;
    margin: 0px 27px; }
    .items-collection .item a {
      position: absolute;
      bottom: -60px;
      left: 50px;
      height: 122px;
      width: 100%;
      background-image: url("../img/item_bg1.png");
      background-size: cover;
      color: #282828;
      text-decoration: none;
      font-family: 'Montserrat-Light';
      font-size: 26px;
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding-left: 58px;
      box-sizing: border-box;
      transition: 0.2s; }
      .items-collection .item a:hover {
        padding-left: 63px; }

.milestones {
  padding-top: 100px; }
  .milestones h2 {
    font-family: 'Mistuki 4 PERSONALUSE';
    font-size: 80px;
    font-weight: 400;
    line-height: 74px;
    color: #ffffff; }
  .milestones .hill {
    width: 100%;
    min-height: 720px;
    background-image: url("../img/hills.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative; }
    .milestones .hill .hill-captions {
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      padding-left: 0; }
      .milestones .hill .hill-captions li {
        list-style: none; }
      .milestones .hill .hill-captions .points {
        position: absolute; }
        .milestones .hill .hill-captions .points input {
          margin: 0;
          position: relative;
          opacity: 0; }
        .milestones .hill .hill-captions .points .radio-mask {
          content: '';
          display: block;
          background-color: #c88139;
          height: 14px;
          width: 14px;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 11;
          border-radius: 50%;
          box-sizing: border-box; }
        .milestones .hill .hill-captions .points .date {
          display: block;
          position: absolute;
          bottom: 45px;
          left: -44px;
          font-family: 'Montserrat-Light';
          color: white;
          font-size: 26px;
          font-weight: 500;
          line-height: 36px;
          white-space: nowrap; }
        .milestones .hill .hill-captions .points div {
          position: absolute;
          bottom: 123px;
          left: -10px;
          color: white;
          font-family: 'Montserrat-Light';
          font-weight: 400;
          font-size: 17px;
          line-height: 36px;
          width: 310px;
          display: none; }
          .milestones .hill .hill-captions .points div:before {
            content: "";
            position: absolute;
            left: -34px;
            top: 10%;
            border-left: 3px solid #dec85b;
            width: 3px;
            height: 80%; }
      .milestones .hill .hill-captions #point1 {
        left: 10%;
        bottom: 17%; }
        .milestones .hill .hill-captions #point1 .radio-mask {
          left: -3px;
          top: 2px; }
      .milestones .hill .hill-captions #point2 {
        left: 24%;
        bottom: 28%; }
        .milestones .hill .hill-captions #point2 .radio-mask {
          left: 2px;
          top: 2px; }
      .milestones .hill .hill-captions #point3 {
        left: 43%;
        bottom: 59%; }
        .milestones .hill .hill-captions #point3 .radio-mask {
          left: -4px;
          top: -5px; }
      .milestones .hill .hill-captions #point4 {
        left: 73%;
        bottom: 85%; }
      .milestones .hill .hill-captions #point5 {
        left: 83%;
        bottom: 65%; }
      .milestones .hill .hill-captions input[type=radio]:checked ~ label.radio-mask {
        animation: pulse 2s infinite; }
      .milestones .hill .hill-captions input[type=radio]:checked ~ div {
        display: block;
        animation: fadeInDown 1s forwards; }

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4); }
  70% {
    -webkit-box-shadow: 0 0 0 20px rgba(204, 169, 44, 0); }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0); } }

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4); }
  70% {
    -moz-box-shadow: 0 0 0 20px rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 20px rgba(204, 169, 44, 0); }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0); } }

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-30px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.grey {
  background-color: #252525; }

.footer > div {
  width: 100%;
  min-height: 222px;
  display: flex;
  align-items: center;
  justify-content: space-around; }

.footer .navigation {
  width: 100%;
  max-width: 900px; }
  .footer .navigation ul {
    display: flex;
    padding-left: 0px;
    align-items: center;
    justify-content: space-between;
    width: 100%; }
    .footer .navigation ul li {
      list-style: none;
      padding-left: 10px;
      padding-right: 10px;
      border-bottom: 2px solid transparent; }
      .footer .navigation ul li a {
        color: #ffffff;
        font-family: "Montserrat-SemiBold";
        line-height: 100px;
        font-weight: 400;
        font-size: 14px;
        letter-spacing: 3.92px;
        text-decoration: none;
        text-transform: uppercase; }
      .footer .navigation ul li:hover {
        transition: 0.2s;
        border-bottom: 2px solid white; }

.footer .logo-zone span {
  display: block;
  font-family: 'Montserrat-Light';
  font-weight: 500;
  letter-spacing: 0.25px;
  font-size: 10px;
  opacity: 0.2;
  color: #8b8b8b;
  padding-top: 40px; }

@media (max-width: 1800px) {
  .head-container .space {
    width: 20px;
    min-width: 20px; }
  .whiteItem img {
    left: 9%;
    top: 160px;
    width: 500px; }
  .items-collection .item img {
    width: 380px; }
  .milestones h2 {
    padding-left: 5%; } }

@media (max-width: 1500px) {
  .darkItem {
    flex-direction: column; }
    .darkItem .image {
      position: absolute;
      right: 5%;
      top: 205px; }
    .darkItem .name {
      width: 320px;
      width: -moz-max-content;
      white-space: nowrap; }
  .whiteItem {
    justify-content: space-around;
    padding-bottom: 80px;
    padding-top: 80px; }
    .whiteItem img {
      position: relative;
      top: 0;
      left: 0; }
    .whiteItem .space {
      display: none; }
  .items-collection {
    flex-direction: column;
    align-items: center; }
    .items-collection .item {
      margin-bottom: 80px; }
  .items-container {
    padding-top: 70px;
    padding-bottom: 0px; } }

@media (max-width: 1370px) {
  .head-container .space {
    width: 40px;
    min-width: 40px; }
  .darkItem .image {
    position: relative;
    top: 20px;
    right: auto;
    display: flex;
    justify-content: center; }
    .darkItem .image div {
      display: none; }
  .darkItem .content p {
    max-width: 100%; } }

@media (max-width: 1200px) {
  .head-container .menu ul {
    width: 100%; }
  .whiteItem {
    flex-direction: column-reverse; }
    .whiteItem .content {
      padding-right: 0;
      padding-left: 10%;
      max-width: 100%; }
      .whiteItem .content .text {
        box-sizing: content-box;
        width: 100%;
        max-width: calc(90% - 140px); }
    .whiteItem img {
      padding-top: 20px;
      margin: auto; }
  .footer > div {
    width: 95%;
    margin: auto; }
  .footer .navigation ul {
    display: block; }
    .footer .navigation ul li {
      display: inline-block; } }

@media (max-width: 1000px) {
  .slider .slide .slide-content {
    right: auto;
    left: 40px; }
    .slider .slide .slide-content > div {
      flex-direction: column;
      align-items: baseline; }
    .slider .slide .slide-content h1 {
      font-size: 100px; }
    .slider .slide .slide-content h2 {
      font-size: 50px; }
  .head-container {
    flex-direction: column;
    width: 100%; }
    .head-container .left-col {
      flex-direction: row;
      z-index: 1; }
    .head-container .menu ul {
      display: none;
      position: fixed;
      top: 0px;
      left: 0px;
      flex-direction: column;
      z-index: 100;
      background-color: rgba(0, 0, 0, 0.4); }
      .head-container .menu ul li:hover {
        border-bottom: 3px solid white; }
      .head-container .menu ul li a {
        color: white; }
    .head-container .slider {
      margin-top: 0px; }
    .head-container .vertical-text {
      opacity: 0; }
    .head-container .menu-sw {
      position: absolute;
      right: 45px;
      top: 35px;
      min-height: 140px; }
      .head-container .menu-sw label {
        position: relative;
        z-index: 101;
        display: block; }
    .head-container label {
      position: relative;
      z-index: 1; }
  .darkItem {
    width: 95%;
    margin: auto; } }

input#menuSwitch[type=checkbox]:checked ~ ul {
  display: flex !important; }
