.multi-step-right.show{
  -moz-animation: right_animation 400ms forwards;
  -webkit-animation: right_animation 400ms forwards;
  animation: right_animation 400ms forwards;

  -moz-animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.anim-right.show{
  -moz-animation: anim-right_ 300ms forwards;
  -webkit-animation: anim-right_ 300ms forwards;
  animation: anim-right_ 300ms forwards;

  -moz-animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.fadeIn.show{
  -moz-animation: fadeIn 600ms forwards;
  -webkit-animation: fadeIn 600ms forwards;
  animation: fadeIn 600ms forwards;

  -moz-animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.fadeInLeft.show{
  -moz-animation: fadeInLeft 600ms forwards;
  -webkit-animation: fadeInLeft 600ms forwards;
  animation: fadeInLeft 600ms forwards;

  -moz-animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.fadeInUp.show{
  -moz-animation: fadeInUp 600ms forwards;
  -webkit-animation: fadeInUp 600ms forwards;
  animation: fadeInUp 600ms forwards;

  -moz-animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.fadeInDown.show{
  -moz-animation: fadeInDown 1000ms forwards;
  -webkit-animation: fadeInDown 1000ms forwards;
  animation: fadeInDown 1000ms forwards;

  -moz-animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.show.hill-mask .st0{
  opacity: 1;
  animation: dash 2.5s linear forwards;

  -moz-animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

@keyframes dash {
  from{
    opacity: 1;
    stroke-dashoffset: 1750;
  }
  to {
    opacity: 1;
    stroke-dashoffset: 0;
  }
}

@keyframes fadeInUp{
  0%{
    opacity: 0;
    transform: translate3d(0%, 20%, 0);
  }
  100%{
    opacity: 1;
    transform: translate3d(0%, 0px, 0);
  }
}
@keyframes fadeInDown{
  0%{
    opacity: 0;
    transform: translate3d(0%, -100px, 0);
  }
  100%{
    opacity: 1;
    transform: translate3d(0%, 0px, 0);
  }
}
@keyframes fadeInLeft{
  0%{
    opacity: 0;
    transform: translate3d(-50%, 0px, 0);
  }
  100%{
    opacity: 1;
    transform: translate3d(0%, 0px, 0);
  }
}

@keyframes right_animation {
  0%{
    opacity: 0;
    transform: translate3d(0px, -110px, 0);
    //transform: rotate(180deg) translate3d(-100%, -100%, 0);
  }
  75% {
    opacity: 0.8;
    //transform: rotate(40deg);
  }
  100% {
    opacity: 1;
    transform: translate3d(0px, 0px, 0);
  }
}


@keyframes anim-right_{
  0%{
    opacity: 0;
    transform: translate3d(50%, 0px, 0);
  }
  100%{
    opacity: 1;
    transform: translate3d(0%, 0px, 0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}