.multi-step-right.show{
  -moz-animation: right_animation 400ms;
  -webkit-animation: right_animation 400ms ;
  animation: right_animation 400ms ;
}

.anim-right.show{
  -moz-animation: anim-right_ 300ms;
  -webkit-animation: anim-right_ 300ms ;
  animation: anim-right_ 300ms ;
}

.fadeIn.show{
  -moz-animation: fadeIn 600ms;
  -webkit-animation: fadeIn 600ms ;
  animation: fadeIn 600ms ;
}

.fadeInLeft.show{
  -moz-animation: fadeInLeft 600ms;
  -webkit-animation: fadeInLeft 600ms ;
  animation: fadeInLeft 600ms ;
}

.fadeInUp.show{
  -moz-animation: fadeInUp 600ms;
  -webkit-animation: fadeInUp 600ms ;
  animation: fadeInUp 600ms ;
}

.fadeInDown.show{
  -moz-animation: fadeInDown 1000ms;
  -webkit-animation: fadeInDown 1000ms ;
  animation: fadeInDown 1000ms;
  //-moz-animation-delay: 1s;
  //-webkit-animation-delay: 1s;
  //animation-delay: 1s;
}

.show.hill-mask .st0{
  animation: dash 2.5s linear forwards;
}

@keyframes dash {
  from{
    stroke-dashoffset: 1750;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fadeInUp{
  0%{
    opacity: 0;
    transform: translate3d(0%, 20%, 0);
  }
  100%{
    opacity: 1;
    transform: translate3d(0%, 0px, 0);
  }
}
@keyframes fadeInDown{
  0%{
    opacity: 0;
    transform: translate3d(0%, -100px, 0);
  }
  100%{
    opacity: 1;
    transform: translate3d(0%, 0px, 0);
  }
}
@keyframes fadeInLeft{
  0%{
    opacity: 0;
    transform: translate3d(-50%, 0px, 0);
  }
  100%{
    opacity: 1;
    transform: translate3d(0%, 0px, 0);
  }
}

@keyframes right_animation {
  0% {
    opacity: 0;
    transform: translate3d(0px, -110px, 0);
    //transform: rotate(180deg) translate3d(-100%, -100%, 0);
  }
  75% {
    opacity: 0.8;
    //transform: rotate(40deg);
  }
  100% {
    opacity: 1;
    transform: translate3d(0px, 0px, 0);
  }
}


@keyframes anim-right_{
  0%{
    opacity: 0;
    transform: translate3d(50%, 0px, 0);
  }
  100%{
    opacity: 1;
    transform: translate3d(0%, 0px, 0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}