@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url('../fonts/montserrat/Montserrat-SemiBold.ttf');
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../fonts/montserrat/Montserrat-Bold.ttf');
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url('../fonts/montserrat/Montserrat-Medium.ttf');
}
@font-face {
  font-family: 'Montserrat-Light';
  src: url('../fonts/montserrat/Montserrat-Light.ttf');
}

@font-face {
  font-family: 'Mistuki 1 PERSONALUSE';
  src: url('../fonts/mans-greback/Mistuki1_PERSONAL_USE.ttf');
}

@font-face {
  font-family: 'Mistuki 4 PERSONALUSE';
  src: url('../fonts/mans-greback/Mistuki4_PERSONAL_USE.ttf');
}