@import "fonts";

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat-Light';
  //background-color: #000000;
  //background: linear-gradient(to bottom right, #0f0e0f, #4a4949);
  background-color: black;
  background-image: url('../img/ground.png');
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}

.container {
  max-width: 1920px;
  width: 100%;
  //border: 1px solid;
  margin: auto;

  //background: linear-gradient(to bottom right, black, yellow);
}

.logo {
  width: 145px;
  height: 114px;
  background-image: url('../img/logo_b.png');
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.left-text {
  margin-top: 150px;
  margin-bottom: 100px;
  padding-left: 145px;
  font-family: 'Montserrat-Light';
  font-size: 17px;
  font-weight: 400;
  line-height: 36px;
  color: #cbb9b9;
  max-width: 680px;
  width: 100%;
}

.vertical-text {
  transform: rotate(270deg);
  margin-bottom: 30px;
  font-family: "Montserrat-SemiBold";
  color: white;
  letter-spacing: 3.92px;
  font-size: 14px;
  text-transform: uppercase;
}

.head-container {
  position: relative;
  display: flex;

  .header {
    min-height: 114px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    //background-image: url('/img/header_bg.png');
  }
  .menu {
    position: absolute;
    top: 0;
    right: 0;
    background-image: url('../img/header_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1120px;
    min-height: 752px;
    width: calc(100% - 145px);

    input, label {
      display: none;
    }

    ul {
      padding-left: 0px;
      width: calc(100% - 145px);
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin: 0;
      min-height: 114px;

      li {
        display: inline-flex;
        min-width: 90px;
        align-items: center;
        justify-content: center;
        text-align: center;
        text-transform: uppercase;
        min-height: 50px;
        border-bottom: 3px solid transparent;
        &:hover {
          border-bottom: 3px solid black;
          transition: 0.2s;
        }

        a {
          font-family: "Montserrat-SemiBold";
          font-size: 14px;
          font-weight: 400;
          color: #282828;
          letter-spacing: 3.92px;
          text-decoration: none;
          white-space: nowrap;
        }
      }
    }
  }
}

.header-static {
  width: 100%;
  position: relative;
  //min-height: 760px;
  min-height: 670px;
  box-sizing: border-box;
  margin-top: 114px;;
  img {
    position: absolute;
    background-color: black;
    object-fit: cover;
    width: calc(100% - 140px);
    height: 100%;
  }
  .text {
    display: block;
    position: absolute;
    font-family: 'Mistuki 4 PERSONALUSE';
    font-size: 103px;
    font-weight: 400;
    line-height: 100px;
    right: 300px;
    bottom: 200px;
    color: white;
    text-shadow: 0px 0px 5px black;
  }
}

.slider {
  width: 100%;
  //border: 1px solid white;
  //min-height: 763px;
  min-height: 670px;
  position: relative;
  box-sizing: border-box;
  margin-top: 114px;;
  .mask {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 140px);
    height: 100%;
    background-color: #0c0c0c;
  }
  .slide {
    position: absolute;
    left: 0;
    top: 0;
    width: calc(100% - 140px);
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: opacity 1s;
    img {
      background-color: black;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
    .slide-content {
      max-width: 600px;
      width: 100%;
      position: absolute;
      top: 20%;
      right: 14%;
      h1, h2 {
        font-family: 'Mistuki 4 PERSONALUSE';
        font-size: 203px;
        color: #ffffff;
        font-weight: 400;
        letter-spacing: 3.5px;
        margin: 0;
        line-height: 115px;
      }
      h2 {
        font-size: 103px;
        letter-spacing: 0px;
      }
      div {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        label {
          font-family: 'Montserrat-Light';
          font-size: 28px;
          font-weight: 600;
          line-height: 55px;
          color: white;
        }
        a {
          font-family: "Montserrat-SemiBold";
          color: #d1ad62;
          display: inline-block;
          line-height: 55px;
          font-size: 14px;
          text-decoration: none;
          border-bottom: 3px solid #d1ad62;
          letter-spacing: 3.92px;
          text-transform: uppercase;
        }
      }
    }
  }
  .showing {
    opacity: 1 !important;
    z-index: 2;
  }
  .controls {
    display: none!important;
    position: absolute;
    top: 0;
    right: 0;
    width: 140px;
    height: calc(100% - 114px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    div {
      font-family: "Montserrat-SemiBold";
      color: #282828;
      font-size: 16px;
      font-weight: 400;
      line-height: 102px;
      letter-spacing: 3.32px;
      span {
        color: white;
        font-size: 26px;
        letter-spacing: 5px;
        font-weight: 500;
      }
      label {
        letter-spacing: 3px;
      }
    }
    a {
      cursor: pointer;
    }
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.space {
  min-width: 140px;
  width: 140px;
}

.time-line {
  padding-left: 140px;
  padding-right: 140px;
  background-image: url('../img/time-line/vector-smart-object.png');
  background-repeat: no-repeat;
  background-position: bottom left;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 182px;
    width: 1px;
    height: 100%;
    border-left: 18px solid #dec85b;
    box-sizing: border-box;
  }
  .time-item {
    z-index: 1;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-bottom: 340px;
    div {
      img {
        max-width: 480px;
        width: 100%;
      }
    }
    .year {
      min-width: 100px;
      width: 100px;
      height: 100px;
      background-image: linear-gradient(-42deg, #f4d47d 0%, #c88139 100%);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: "Montserrat-SemiBold";
      font-size: 26px;
      font-weight: 500;
      line-height: 36px;
      color: #282828;
    }
    .description {
      min-width: 200px;
      max-width: 200px;
      span {
        display: inline-block;
        font-family: 'Montserrat-Light';
        border-top: 3px solid #dec85b;
        font-size: 26px;
        font-weight: 500;
        line-height: 46px;
        color: #ffffff;
        letter-spacing: 0.88px;
        padding-top: 65px;
      }
    }
    .content {
      max-width: 610px;
      width: 100%;
      h2 {
        font-family: "Mistuki 1 PERSONALUSE";
        font-size: 80px;
        font-weight: 400;
        line-height: 107px;
        margin-top: -25px;
        margin-bottom: 37px;
        color: white;
      }
      p {
        color: #cbb9b9;
        font-family: 'Montserrat-Light';
        font-weight: 400;
        font-size: 17px;
        line-height: 36px;
      }
      .bottom-content {
        font-family: 'Montserrat-Light';
        font-weight: 500;
        font-size: 26px;
        line-height: 46px;
        letter-spacing: 0.88px;
        color: white;
      }
      .separate {
        padding-left: 60px;
        box-sizing: border-box;
        position: relative;
        &:before {
          content: "";
          display: block;
          position: absolute;
          top: 0px;
          left: 0px;
          width: 3px;
          height: 90%;
          border-left: 3px solid #dec85b;
        }
        h4 {
          font-family: 'Montserrat-Light';
          font-size: 26px;
          font-weight: 500;
          line-height: 36px;
          letter-spacing: 0.88px;
          color: white;
        }
        h2 {
          font-family: 'Mistuki 4 PERSONALUSE';
          font-size: 80px;
          font-weight: 400;
          line-height: 74px;
        }
      }
    }
  }
}

.white-time-item {
  padding-left: 140px;
  padding-right: 140px;
  position: relative;
  background-color: #ffffff;
  padding-top: 120px;
  padding-bottom: 145px;
  background-image: url('../img/time-line/gold-hill-front-view.png');
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: auto 80%;
  display: flex;
  justify-content: space-between;
  &:before {
    content: "";
    position: absolute;
    top: -1px;
    left: 182px;
    width: 1px;
    height: 140px;
    border-left: 18px solid #dec85b;
    box-sizing: border-box;
  }
  .year {
    position: relative;
    min-width: 100px;
    width: 100px;
    height: 100px;
    background-image: linear-gradient(-42deg, #f4d47d 0%, #c88139 100%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat-SemiBold";
    font-size: 26px;
    font-weight: 500;
    line-height: 36px;
    color: #282828;
  }
  .description {
    display: flex;
    justify-content: flex-end;
    width: 30%;
    span {
      display: inline-block;
      font-family: 'Montserrat-Light';
      border-top: 3px solid #dec85b;
      font-size: 26px;
      font-weight: 600;
      line-height: 46px;
      color: #282828;
      max-width: 150px;
      letter-spacing: 0.88px;
      padding-top: 65px;
    }
  }
  .content {
    max-width: 600px;
    width: 100%;
    h2 {
      font-family: "Mistuki 1 PERSONALUSE";
      font-size: 80px;
      font-weight: 400;
      line-height: 84px;
      color: #282828;
      margin-top: -25px;
    }
    div {
      font-family: 'Montserrat-Light';
      font-size: 26px;
      font-weight: 600;
      line-height: 36px;
      letter-spacing: 0.88px;
      padding-left: 60px;
      position: relative;
      max-width: 170px;
      &:before {
        position: absolute;
        content: "";
        top: 5%;
        left: 0;
        width: 1;
        height: 90%;
        border-left: 3px solid #dec85b;
      }
    }
    p {
      color: #756b6b;
      font-family: 'Montserrat-Light';
      font-size: 17px;
      line-height: 36px;
    }
  }
}

.darkItem {
  padding-top: 160px;
  padding-bottom: 90px;
  width: 100%;
  justify-content: space-between;
  display: flex;
  box-sizing: border-box;

  .name {
    font-family: 'Montserrat-Light';
    font-weight: 600;
    letter-spacing: 0.88px;
    line-height: 46px;
    font-size: 26px;
    color: #ffffff;
    min-width: 180px;
    width: 180px;
    border-top: 3px solid #dec85b;
    padding-top: 55px;
    margin-top: 28px;
  }
  .name.fix-name{
    width: 250px;;
  }
  .content {
    h2 {
      font-family: "Mistuki 1 PERSONALUSE";
      color: white;
      font-size: 80px;
      font-weight: 400;
      line-height: 108px;
      margin-top: 0px;
      margin-bottom: 34px;
    }
    p {
      color: #cbb9b9;
      font-family: 'Montserrat-Light';
      line-height: 36px;
      font-weight: 600;
      font-size: 17px;
      display: block;
      max-width: 550px;
    }
    .details{
      text-decoration: none;
      text-transform: uppercase;
      color: #d1ad62;
      letter-spacing: 3.92px;
      font-size: 14px;
      font-family: 'Montserrat-Light';
      display: inline-block;
      font-weight: 600;
      line-height: 55px;
      border-bottom: 2px solid #d1ad62;
    }
  }
  .image {
    position: relative;
    img {
      max-width: 670px;
      width: 100%;
      position: relative;
      z-index: 1;
      box-shadow: 0px 35px 130px rgba(0, 0, 0, 0.6);
    }
    div {
      max-width: 400px;
      width: 100%;
      height: 530px;
      background-image: url('../img/header_bg.png');
      background-color: black;
      background-size: cover;
      background-position: right center;
      position: absolute;
      top: -40px;
      right: 10%;
    }
  }
  &.type2 {
    .content {
      position: relative;
      z-index:1;
      .as_comment {
        padding-left: 40px;
        position: relative;
        color: #fefefe;
        &:before {
          content: '‘‘';
          position: absolute;
          top: 0;
          left: 0;
          font-family: "Mistuki 1 PERSONALUSE";
          font-size: 80px;
          line-height: 60px;
          font-weight: 400;
        }
      }
    }
    .image {
      max-width: 660px;
      width: 100%;
      div {
        max-width: 660px;
        height: 396px;
        top: 40px;;
      }
      img {
        max-width: 400px;
        width: 100%;
      }
    }
  }

  &.revert{
    padding-left: 140px;
    padding-right: 140px;
    .content{
      h2{
        color: #282828;
      }
    }
    .name{
      color: #282828;
      span{
        text-transform: uppercase;
      }
    }
    .image{
      max-width: 550px;
    }
  }
}


.white {
  background-color: white;
}

.container-fluid {
  width: 100%;
}

.vision {
  background-image: url('../img/vec.png');
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: contain;
  padding-top: 100px;
  padding-bottom: 225px;
  padding-left: 140px;
  padding-right: 140px;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  .text {
    h2 {
      font-family: 'Mistuki 4 PERSONALUSE';
      font-size: 80px;
      line-height: 74px;
      color: #282828;
      font-weight: 400;
    }
    div {
      padding-left: 65px;
      position: relative;
      &:before {
        content: "";
        display: block;
        width: 3px;
        top: 5%;
        height: 90%;
        border-left: 3px solid #dec85b;
        left: 0;
        position: absolute;
      }
      p {
        color: #282828;
        font-family: 'Montserrat-Light';
        font-weight: 600;
        font-size: 26px;
        line-height: 36px;
        letter-spacing: 0.88px;
      }
    }
  }
  .images {
    width: 60%;
    display: flex;
    justify-content: space-around;
    img {
      position: relative;
      box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.5);
    }
    img:nth-of-type(3) {
      top: 51px;
    }
    img:nth-of-type(2) {
      top: 125px;
    }
  }
}

.whiteItem {
  //background-image: url('../img/goldhill5-01-------2.png');
  background-repeat: no-repeat;
  background-position: left top;
  position: relative;
  padding-top: 180px;
  padding-bottom: 180px;
  display: flex;
  justify-content: flex-end;

  img {
    position: absolute;
    top: 120px;
    left: 18%;
    box-shadow: 0px 0px 90px rgba(2b, 2b, 2b, 0.5);
  }
  .content {
    max-width: 600px;
    width: 100%;
    padding-right: 100px;
    .title {
      position: relative;
      padding-left: 64px;
      padding-bottom: 50px;
      h4 {
        color: #282828;
        font-family: 'Montserrat-Light';
        font-size: 26px;
        font-weight: 600;
        line-height: 36px;
        letter-spacing: 0.88px;
        margin: 0;
      }
      h2 {
        font-family: 'Mistuki 4 PERSONALUSE';
        color: #282828;
        line-height: 74px;
        font-weight: 400;
        font-size: 80px;
        margin: 10px 0px;
      }
      &:before {
        content: '';
        display: block;
        width: 5px;
        height: 90px;
        border-left: 3px solid #dec85b;
        position: absolute;
        top: 10px;
        left: 0;
      }
    }
    .text {
      font-family: 'Montserrat-Light';
      color: #756b6b;
      line-height: 36px;
      font-weight: 600;
      font-size: 17px;
      max-width: 550px;
    }
  }
  &.typeAsDarkRevert{
    padding-left: 140px;
    padding-right: 140px;
  }
}

.body-gradient {
  //background: linear-gradient(to bottom right, #0c0c0c, #3c3738);
  display: flex;
  flex-direction: column;
}

.caption {
  font-family: 'Mistuki 4 PERSONALUSE';
  font-size: 80px;
  font-weight: 400;
  line-height: 74px;
  color: #ffffff;
  text-align: center;
}

.items-container {
  padding-top: 120px;
  padding-bottom: 150px;
}

.items-collection {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 95%;
  margin: auto;
  .item {
    position: relative;
    margin: 0px 27px;

    img {
      height: 100%;
      object-fit: cover;
    }
    //&:first-child{
    //  &:before{
    //    content: "Rooms & Suites";
    //    display: block;
    //    font-family: 'Mistuki 4 PERSONALUSE';
    //    font-size: 80px;
    //    font-weight: 400;
    //    line-height: 74px;
    //    color: #ffffff;
    //    text-align: center;
    //    margin-bottom: 26px;
    //    margin-top: -18px;
    //    margin-left: -36px;
    //  }
    //  img{
    //    height: calc(100% - 100px);
    //  }
    //}

    .drops {
      position: absolute;
      bottom: -60px;
      left: 50px;
      min-height: 112px;
      width: 100%;
      background-image: url('../img/item_bg1.png');
      background-size: cover;

      font-family: 'Montserrat-Light';
      font-size: 26px;
      font-weight: 600;
      display: flex;
      flex-direction: column;
      align-items: left;
      justify-content: flex-start;
      box-sizing: border-box;
      transition: 0.2s;
      padding-top: 40px;
      padding-bottom: 10px;
      a {
        color: #282828;
        text-decoration: none;
        padding-left: 58px;
        padding-bottom: 20px;
        text-transform: capitalize;
      }
      .text {
        //display: none;
        height: 0;
        overflow: hidden;
        transition: 0.2s;
        font-size: 16px;
        line-height: 29px;
        position: relative;
        padding-left: 100px;
        //padding-top: 20px;
        width: 65%;
        &:before {
          content: "";
          position: absolute;
          width: 2px;
          border-left: 3px solid #282828;
          height: 60%;
          top: 15%;
          left: 60px;
        }
      }
      &:hover {
        padding-bottom: 30px;
        bottom: -152px; //calc 130+60
        .text {
          height: 100px;
          //display: block;
        }
      }
    }
  }
  .item:nth-child(even) {
    .drops {
      background-image: url('../img/item_bg2.png');
      background-size: cover;
    }
  }
}

.milestones {
  padding-top: 100px;
  h2 {
    font-family: 'Mistuki 4 PERSONALUSE';
    font-size: 80px;
    font-weight: 400;
    line-height: 74px;
    color: #ffffff;
    margin-bottom: 0px;
  }
  .hill {
    width: 100%;
    //min-height: 660px;
    background-image: url('../img/hill/main_luxury.png');
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    .bloker {
      //position: absolute;
      //border: 1px solid white;
      width: 100vw;
      //height: 37.5vw;
      height: 730px;
    }
    .st0 {
      fill: none;
      stroke: #CDB956;
      stroke-width: 2;
      stroke-miterlimit: 10;
      stroke-dasharray: 1750;
      stroke-dashoffset: 0;
      //animation: dash 2.5s linear forwards;
    }
    .hill-mask {
      width: 100%;
      position: absolute;
    }
    .hill-captions {
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      padding-left: 0;
      li {
        list-style: none;
      }

      .points {
        position: absolute;
        input {
          margin: 0;
          position: relative;
          opacity: 0;
        }
        .radio-mask {
          content: '';
          display: block;
          background-color: #c88139;
          height: 14px;
          width: 14px;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 11;
          border-radius: 50%;
          box-sizing: border-box;
        }
        .date {
          display: block;
          position: absolute;
          bottom: 45px;
          left: -44px;
          font-family: 'Montserrat-Light';
          color: white;
          font-size: 26px;
          font-weight: 500;
          line-height: 36px;
          white-space: nowrap;
        }
        div {
          position: absolute;
          bottom: 123px;
          left: -10px;
          color: white;
          font-family: 'Montserrat-Light';
          font-weight: 400;
          font-size: 17px;
          line-height: 36px;
          width: 310px;
          display: none;

          &:before {
            content: "";
            position: absolute;
            left: -34px;
            top: 10%;
            border-left: 3px solid #dec85b;
            width: 3px;
            height: 80%;
          }
        }
      }

      #point1 {
        left: 10%;
        bottom: 14%;
        .radio-mask {
          left: -9px;
          top: 4px;;
        }
      }
      #point2 {
        left: 24%;
        bottom: 24%;
        .radio-mask {
          left: 2px;
          top: 2px;;
        }
      }
      #point3 {
        left: 43%;
        bottom: 56%;
        .radio-mask {
          left: 0px;
          top: 0px;;
        }
      }
      #point4 {
        left: 73%;
        bottom: 81%;
      }
      #point5 {
        left: 83%;
        bottom: 61%;
        .radio-mask {
          top: -3px;
          left: -1px;
        }
      }
      input[type=radio]:hover ~ label.radio-mask {
        animation: pulse 2s infinite;
      }
      input[type=radio]:checked ~ label.radio-mask {
        animation: pulse 2s infinite;
      }
      input[type=radio]:hover ~ div {
        display: block;
        animation: fadeInDown 1s forwards;
      }
      input[type=radio]:checked ~ div {
        //color: white;
        display: block;
        animation: fadeInDown 1s forwards;
      }
    }
  }
  &.type2 {
    .hill {
      background-image: url(../img/ab.png);
      background-repeat: no-repeat;
      background-size: 100%;
      .hill-captions {
        height: calc(100% - 330px);
      }
      svg {
        margin-top: 2px;
      }
      .bloker {
        height: 1070px;;
        .channel {
          display: none!important;
          position: absolute;
          bottom: 10%;
          left: 300px;
          display: flex;
          & > div {
            //border: 1px solid #8b8b8b;
            max-width: 400px;
            font-family: 'Montserrat-Light';
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-right: 80px;
            h4 {
              margin: 0;
              font-family: 'Montserrat-Light';
              font-size: 26px;
              font-weight: 600;
              line-height: 36px;
              color: #ffffff;
              margin-bottom: 50px;
            }
            & > p {
              font-style: italic;
              line-height: 36px;
              font-size: 17px;
              padding-left: 40px;
              position: relative;
              margin: 0;
              max-width: 250px;
              &:before {
                content: '‘‘';
                position: absolute;
                top: 4px;
                left: -5px;
                font-family: "Mistuki 1 PERSONALUSE";
                font-size: 80px;
                font-weight: 100;
              }
            }
            div {
              padding-left: 34px;
              font-size: 17px;
              line-height: 40px;
              position: relative;
              h4 {
                margin-bottom: 0px;
              }
              p {
                margin: 0;
              }
              &:before {
                content: "";
                position: absolute;
                top: 5%;
                left: 0;
                height: 90%;
                border-left: 3px solid #dec85b;
              }
            }
          }
        }
      }
    }
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 20px rgba(204, 169, 44, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 20px rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 20px rgba(204, 169, 44, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.journey {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  position: relative;
  .text{
    position: absolute;
    top: 150px;
    left: 150px;;
    font-family: 'Montserrat-Light';
    font-size: 17px;
    line-height: 36px;
    color: #756b6b;
    max-width: 450px;
    width: 100%;
  }
  .content{
    max-width: 620px;
    width: 100%;
    //max-height: 1400px;
    margin-top: 190px;
    margin-bottom: 170px;
    height: 100%;
    background-image: url('../img/j3_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    .line{
      border: 1.5px solid #dec85b;
      z-index: 10;
      border-radius: 2px;
      opacity: 0.5;
    }
    img{
      position: relative;
    }
    img:nth-of-type(1){
      max-width: 450px;
      top:-87px;
      right: 26px;
    }
    img:nth-of-type(2){
      max-width: 586px;
      right: -137px;
      top:27px;
    }
    img:nth-of-type(3){
      max-width: 586px;
      bottom: -140px;
      left: -70px;
    }

    .points {
      position: absolute;
      z-index: 10;

      padding-left: 0;
      li {
        list-style: none;
        input{
          width: 0;
          height: 0;
        }
        label {
          display: block;
          background-color: rgba(255,255,255,0.5);
          height: 20px;
          width: 20px;
          position: absolute;
          //top: 0;
          //left: 0;
          z-index: 11;
          border-radius: 50%;
          box-sizing: border-box;
          animation: pulse 2s infinite;
        }
        label:nth-of-type(2){
          top:138px;
          left: 80px;
        }
        label:nth-of-type(3){
          top:280px;
          left: -10px;
        }

        input[type=radio]:hover ~ label.radio-mask {

        }
      }
      //li:nth-of-type(1){
      //  label{
      //    left:45%;
      //    top: 50px;;
      //  }
      //}
    }
  }
  .infos{
    position: absolute;
    right: 200px;
    top:150px;
    list-style: none;
    width: 300px;
    li{
      position: absolute;
      left: 0;
    }
    .info{
      position: relative;
      display: none;
      max-width: 350px;
      width: 100%;
      //right: -200px;
      margin-bottom: 50px;
      h4{
        font-family: 'Montserrat-Light';
        font-weight: 600;
        font-size: 26px;
        line-height: 36px;
        color: #ffffff;
        margin: 0;
        margin-bottom: 20px;
      }
      div{
        font-family: 'Montserrat-Light';
        font-weight: 400;
        font-size: 17px;
        line-height: 36px;
        color: #ffffff;
        padding-left: 35px;
        position: relative;
        &:before{
          content: "";
          position: absolute;
          left: 0;
          top:5%;
          height: 90%;
          width: 1px;
          border-left: 3px solid #dec85b;
        }
      }
    }
  }
  li:nth-of-type(1){
    top:0px;
  }
  li:nth-of-type(2){
    top:250px;
  }
  li:nth-of-type(3){
    top:500px;
  }
}

.white-room{
  background-color: white;
  background-image: url("../img/white_bg.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: contain;
  padding-top: 100px;
  padding-bottom: 110px;
  padding-left: 170px;
  padding-right: 170px;
  display: flex;
  justify-content: space-between;
  .name{
    max-width: 150px;
    padding-top: 50px;
    font-family: 'Montserrat-Light';
    font-weight: 600;
    font-size: 26px;
    line-height: 36px;
    letter-spacing: 0.88px;
    color: #282828;
    border-top: 3px solid #dec85b;
  }
  .content{
    max-width: 550px;
    width: 100%;
    h2{
      margin-top: 0px;
      margin-bottom: 40px;
      font-family: 'Mistuki 4 PERSONALUSE';
      font-size: 80px;
      line-height: 74px;
      color: #282828;
      font-weight: 500;
    }
    p{
      font-family: 'Montserrat-Light';
      font-size: 17px;
      line-height: 36px;
      color: #756b6b;
    }
  }
  .images{
    img{
      padding-left: 20px;
      max-width: 321px;
    }
  }
}

.transparent-room{
  padding-bottom: 100px;
  padding-top: 100px;
  width: 60%;
  margin:auto;
  display: flex;
  justify-content: space-between;
  .name{
    padding-top: 50px;
    font-family: 'Montserrat-Light';
    font-weight: 600;
    font-size: 26px;
    line-height: 36px;
    letter-spacing: 0.88px;
    color: #fff;
    border-top: 3px solid #dec85b;
    max-width: 250px;
  }
  .content{
    max-width: 550px;
    h2{
      margin-top: 0px;
      margin-bottom: 40px;
      font-family: 'Mistuki 4 PERSONALUSE';
      font-size: 80px;
      line-height: 74px;
      color: #ffffff;
      font-weight: 500;
    }
    p{
      font-family: 'Montserrat-Light';
      font-size: 17px;
      line-height: 36px;
      color: #ffffff;
    }
  }
  .toch{
    display: flex;
    align-items: flex-end;
    a{
      text-decoration: none;
      text-transform: uppercase;
      color: #d1ad62;
      display: block;
      border-bottom: 3px solid #d1ad62;
      letter-spacing: 3.92px;
      font-weight: bold;
      font-size: 14px;
      line-height: 65px;
    }
  }
}

.grey {
  background-color: #252525;
}

.footer {
  & > div {
    width: 100%;
    min-height: 222px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .navigation {
    width: 100%;
    max-width: 900px;
    ul {
      display: flex;
      padding-left: 0px;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      li {
        list-style: none;
        padding-left: 10px;
        padding-right: 10px;
        border-bottom: 2px solid transparent;
        a {
          color: #ffffff;
          font-family: "Montserrat-SemiBold";
          line-height: 100px;
          font-weight: 400;
          font-size: 14px;
          letter-spacing: 3.92px;
          text-decoration: none;
          text-transform: uppercase;
        }
        &:hover {
          transition: 0.2s;
          border-bottom: 2px solid white;
        }
      }
    }
  }
  .logo-zone {
    span {
      display: block;
      font-family: 'Montserrat-Light';
      font-weight: 500;
      letter-spacing: 0.25px;
      font-size: 10px;
      opacity: 0.2;
      color: #8b8b8b;
      padding-top: 40px;
    }
  }

}

.footer-links {
  padding-left: 135px;
  padding-right: 135px;
  box-sizing: border-box;
  div {
    min-height: 140px;
    width: 100%;
    border-bottom: 1px solid #363636;
    display: flex;
    align-items: center;
    justify-content: space-between;
    a {
      font-family: "Montserrat-SemiBold";
      font-size: 14px;
      line-height: 55px;
      display: inline-block;
      color: #d1ad62;
      letter-spacing: 3.92px;
      text-decoration: none;
      text-transform: uppercase;
      border-bottom: 3px solid #d1ad62;
    }
  }
}

.wide-text{
  font-family: 'Montserrat-Light';
  color: white;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  margin:auto;
  margin-bottom: 60px;
  width: 80%;
}

.milestones{
  .wide-text{
    font-size: 16px;
    line-height: 28px;
    margin-left: 5%;
    width: 60%;
    max-width: 700px;
  }
}

.generations{
  padding-top: 190px;
  padding-bottom: 150px;
  padding-left: 140px;
  padding-right: 140px;
  display: flex;
  justify-content: space-between;
  background-image: url('../img/v3bg.png');
  background-repeat: no-repeat;
  background-size: auto 70%;
  background-position: bottom right;
  .name{
    font-family: 'Montserrat-Light';
    font-weight: 600;
    letter-spacing: 0.88px;
    line-height: 46px;
    font-size: 26px;
    color: #ffffff;
    min-width: 180px;
    width: 240px;
    border-top: 3px solid #dec85b;
    padding-top: 55px;
    margin-top: 28px;
  }
  .content{
    width: 70%;
    h2{
      font-family: "Mistuki 1 PERSONALUSE";
      font-size: 80px;
      font-weight: 400;
      line-height: 108px;
      margin-top: 0px;
      margin-bottom: 34px;
      color: #ffffff;
    }
    ul, .list{
      color: #ffffff;
      font-family: 'Montserrat-Light';
      line-height: 46px;
      font-weight: 600;
      font-size: 17px;
      display: flex;
      list-style: none;
      padding-left: 0;
      flex-wrap: wrap;
      width: 100%;
      li{
        box-sizing: border-box;
        width: 50%;
        display: block;
        position: relative;
        padding-left: 40px;
        &:before{
          content: "";
          position: absolute;
          width: 22px;
          height: 1px;
          border-top: 3px solid #dec85b;
          left: 0;
          top:50%;
        }
      }
    }
  }
}

@media (max-width: 1920px) {
  .milestones .hill .hill-captions {
    #point1{
      .radio-mask {
        //top: 2px;;
      }
    }
  }
  .milestones .hill .bloker, .milestones.type2 .hill .hill-captions {
    height: 37.5vw;
  }
  .milestones.type2 {
    .hill {
      .bloker {
        height: 56vw;
      }
    }
  }
}

@media (max-width: 1800px) {
  .head-container {
    .space {
      width: 20px;
      min-width: 20px;
    }
  }
  .whiteItem img {
    left: 9%;
    top: 160px;
    width: 500px;
  }
  .items-collection {
    .item {
      img {
        width: 380px;
      }
    }
  }
  .milestones {
    h2 {
      padding-left: 5%;
    }
  }
  .time-line, .white-time-item {
    padding-left: 30px;
    padding-right: 30px;
    &:before {
      left: 69px;
    }
    .description{
      width: 45%;
    }
  }
  .milestones.type2 .hill .bloker .channel {
    left: 10%;
  }
  .white-room{
    padding-right: 5%;
    padding-left: 5%;
  }
  .transparent-room{
    width: 90%;
  }
  .darkItem.revert{
    padding-right: 5%;
    padding-left: 5%;
  }
  .generations{
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media (max-width: 1500px) {
  .darkItem {
    flex-direction: column;
    .image {
      position: absolute;
      right: 5%;
      top: 205px;
    }
    .name {
      width: 320px;
      width: -moz-max-content;
      white-space: nowrap;
    }
  }

  .whiteItem {
    justify-content: space-around;
    padding-bottom: 80px;
    padding-top: 80px;
    img {
      position: relative;
      top: 0;
      left: 0;
    }
    .space {
      display: none;
    }
  }
  .items-collection {
    flex-direction: column;
    align-items: center;
    .item {
      margin-bottom: 80px;
    }
  }
  .items-container {
    padding-top: 70px;
    padding-bottom: 0px;
  }
  .time-line {
    .time-item {
      flex-direction: column;
      padding-left: 170px;
      padding-bottom: 100px;
      .year {
        position: absolute;
        left: 0;
      }
      .description {
        span {
          padding-top: 20px;
          padding-bottom: 20px;
        }
      }
      .content {
        max-width: 95%;
        margin-bottom: 20px;
      }
    }
  }
  .vision {
    padding-left: 5%;
    padding-right: 5%;
    .images {
      align-items: baseline;
      img {
        width: 30%;
      }
    }
    .text {
      h2 {
        font-size: 5vw;
        line-height: 5vw;
      }
      div {
        p {
          font-size: 1.7vw;
          line-height: 2vw;
        }
      }
    }
  }
  .milestones.type2 .hill .bloker .channel > div {
    max-width: 30%;
    margin-right: 5vw;
    h4 {
      font-size: 1.8vw;
      line-height: 2vw;
      margin-bottom: 10px;
    }
    div {
      font-size: 1.2vw;
      line-height: 1.8vw;
    }
    & > p {
      font-size: 1.2vw;
      line-height: 1.8vw;
    }
  }
  .white-room{
    flex-direction: column;
    .name{
      max-width: 260px;
    }
    .content{
      max-width: 100%;
      margin-bottom: 20px;
    }
    .images{
      display: flex;
      justify-content: space-around;
      img{
      }
    }
  }
  .white-time-item{
    background-size: auto 70%;
  }
  .generations{
    padding-top: 90px;
    padding-bottom: 100px;
    flex-direction: column;
    .content{
      width: 100%;
      h2{
        margin-top: 20px;
      }
    }
  }
}

@media (max-width: 1370px) {
  .head-container {
    .space {
      width: 40px;
      min-width: 40px;
    }
  }
  .darkItem {
    .image {
      position: relative;
      top: 20px;
      right: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 100%;
      margin-bottom: 20px;
      div {
        display: none;
      }
    }
    .content {
      p {
        max-width: 100%;
      }
    }
    &.revert, &.type2{
      .image {
        max-width: 100%;
      }
    }
    &.type2.revert{
      padding-top: 100px;
    }
  }
  .white-time-item {
    background-size: auto 50%;
    .description{
      width: 30%;
    }
  }
}

@media (max-width: 1200px) {
  .head-container .menu ul {
    width: 100%;
  }
  .whiteItem {
    flex-direction: column-reverse;
    .content {
      padding-right: 0;
      padding-left: 10%;
      max-width: 100%;
      box-sizing: border-box;
      .text {
        box-sizing: content-box;
        width: 100%;
        max-width: calc(90% - 140px);
      }
    }
    img {
      padding-top: 20px;
      margin: auto;
    }
  }
  .footer {
    & > div {
      width: 95%;
      margin: auto;
    }
    .navigation {
      ul {
        display: block;
        li {
          display: inline-block;
        }
      }
    }
  }
}

@media (max-width: 1000px) {

  .slider .slide .slide-content {
    right: auto;
    left: 40px;
    & > div {
      flex-direction: column;
      align-items: baseline;
    }
    h1 {
      font-size: 100px;
    }
    h2 {
      font-size: 50px;
    }
  }
  .head-container {
    flex-direction: column;
    width: 100%;
    .left-col {
      flex-direction: row;
      z-index: 1;
    }
    .menu {
      ul {
        display: none;
        position: fixed;
        top: 0px;;
        left: 0px;
        flex-direction: column;
        z-index: 100;
        background-color: rgba(0, 0, 0, 0.4);
        li {
          &:hover {
            border-bottom: 3px solid white;
          }
          a {
            color: white;
          }
        }
      }
    }
    .slider, .header-static {
      margin-top: 0px;
    }
    .vertical-text {
      opacity: 0;
    }
    .menu-sw {
      position: absolute;
      right: 45px;
      top: 35px;;
      min-height: 140px;
      label {
        position: relative;
        z-index: 101;
        display: block;
      }
    }
    label {
      position: relative;
      z-index: 1;;
    }

  }
  .darkItem {
    width: 95%;
    margin: auto;
  }
  .white-time-item {
    flex-direction: column;
    padding-left: 160px;
    padding-bottom: 250px;
    background-size: 50%;
    .year {
      position: absolute;
      left: 30px;
    }
    .description {
      display: block;
      width: 100%;
      span {
        padding-top: 20px;
        padding-bottom: 30px;
        max-width: 100%;
      }
    }
    .content {
      max-width: 95%;
      h2 {
        margin-top: 0px;
        margin-bottom: 20px;
      }
    }
  }
  .vision {
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
    .images {
      width: 100%;
      margin-bottom: 150px;
    }
  }
  .generations{
    .content{
      ul{
        li{
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .whiteItem {
    img {
      width: 70%;
    }
  }
  .slider {
    .slide {
      width: 100%;
    }
    .controls {
      z-index: 100;
      width: 75px;
    }
  }
  .head-container {
    //padding-left: 5%;
    .darkItem {
      margin: 0;
      width: 100%;
    }
  }
  .sm {
    flex-direction: row;
    //background-color: black;
  }
  .whiteItem .content {
    //padding-left: 5%;
    .title {
      padding-left: 20px;
      //h4 {
      //  font-size: 4vw;
      //}
      //h2{
      //  font-size: 12vw;
      //}
    }
  }
  .header-static {
    img {
      width: 100%;
    }
    .text {
      right: 20px;
    }
  }
  .left-text {
    padding-left: 5%;
    width: 95%;
    box-sizing: border-box;
    max-width: 100%;
  }
  .transparent-room{
    flex-direction: column;
    .name{
      max-width: 450px;
    }
    .content{
      max-width: 100%;
    }
  }
}

@media (max-width: 600px) {
  .sm .darkItem {
    padding-top: 80px;
    .name {
      padding-top: 20px;
      padding-bottom: 20px;
      font-size: 6vmin;
    }
  }

  .whiteItem .content {
    padding-left: 5%;
    .title {
      padding-left: 20px;
      h4 {
        font-size: 4vw;
      }
      h2 {
        font-size: 12vw;
      }
    }
    .text {
      max-width: 95%;
      width: 95%;
    }
  }

  .items-collection {
    .item {
      img {
        display: block;
        padding-bottom: 10px;
        margin: auto;
        width: 80%;
      }
      .drops {
        position: initial;
        a {
          padding-left: 20px;
        }
        .text {
          &:before {
            left: 20px;
          }
          padding-left: 40px;
          font-size: 3vw;
          line-height: 9vw;
          width: 80%;
        }
      }
    }
  }
  .milestones {
    padding-top: 0;
    h2 {
      margin-bottom: 160px;
    }
  }
  .milestones {
    .hill {
      .hill-captions .points .date {
        font-size: 4vw;
      }
      .hill-captions .points {
        div {
          text-shadow: 0px 0px 8px black;
        }
        .date {
          bottom: 25px;
          left: -8vw;
        }
      }
      #point5, #point4 {
        div {
          left: auto;
          right: -65px;
          bottom: 100px;
        }
      }
    }
  }
  .footer {
    & > div {
      //flex-direction: column;
    }
    .navigation {
      ul {
        li {
          a {
            line-height: 30px;
            font-size: 2vw;
          }
        }
      }
    }
  }
  .header-static {
    .text {
      font-size: 20vw;
    }
  }
  .time-line {
    .time-item {
      padding-left: 120px;
      .content {
        .separate {
          padding-left: 0px;
          &:before {
            display: none;
          }
          h4 {
            font-size: 3vw;
            line-height: 3.5vw;
          }
        }
        h2, .separate h2 {
          font-size: 8vw;
          line-height: 9vw;
        }
      }
    }
  }
  .white-time-item {
    .description {
      font-size: 4vw;
      line-height: 4.5vw;
    }
    .content {
      h2 {
        font-size: 9vw;
        line-height: 9.5vw;
      }
    }
  }
  .footer-links {
    padding-left: 5%;
    padding-right: 5%;
  }
  .white-room{
    .images{
      flex-direction: column;
      align-items: center;
      img{
        margin-bottom: 20px;
      }
    }
  }
  .darkItem .name{
    white-space: inherit;
  }
}

input#menuSwitch[type=checkbox]:checked ~ ul {
  display: flex !important;
}

.animated {
  opacity: 0;
}

svg.animated {
  opacity: 1;
}

@import "animations";